<div id="wrapper">
    <div class="no-bottom no-top" id="content" style="background-size: cover;">
      <div id="top" style="background-size: cover;"></div>
  
      <!-- section begin -->
      <section id="subheader" class="text-light" data-bgimage="url(assets/client/images/background/subheader.jpg) top" style="background: url('../../../../assets/client/images/background/subheader.jpg') center top / cover;">
        <div class="center-y relative text-center" style="background-size: cover;">
          <div class="container" style="background-size: cover;">
            <div class="row" style="background-size: cover;">
  
              <div class="col-md-12 text-center" style="background-size: cover;">
                <h1>Forget Password</h1>
                <p>Enter your email address and we will send you instructions to reset your password.</p>
              </div>
              <div class="clearfix" style="background-size: cover;"></div>
            </div>
          </div>
        </div>
      </section>
      <div *ngIf=!showMessage>
      <section aria-label="section" style="background-size: cover;">
        <div class="container" style="background-size: cover;">
          <div class="row" style="background-size: cover;">
            <div class="col-md-8 offset-md-2" style="background-size: cover;">
              <div class="spacer-10" style="background-size: cover;"></div> 
              <form name="contactForm" id="contact_form" class="form-border" method="post"
                  [formGroup]="forgetpwdForm" (ngSubmit)="onSubmit()">
                  <div class="row" style="background-size: cover;">
                    <div class="col-md-10" style="background-size: cover;">
                      <div class="field-set" style="background-size: cover;">
                        <label>Email:</label>
                        <input type="text" name="email" id="email" class="form-control" formControlName="email"
                           [ngClass]="{
                    'input-invalid': email.invalid  && (email.dirty || email.touched),
                    'input-valid': email.valid && (email.dirty || email.touched) }">
                      </div>
                      <div *ngIf="incorrectEmail">
                        <div class="alert alert-danger alert-dismissible fade show">
                        <i class="bi-check-circle-fill"></i>
                        <strong class="mx-2">Error!</strong>There's no user with such email address
                      </div>
                    </div>
                    </div>
                    <div class="col-md-12" style="background-size: cover; margin-top: 30px">
                      <div id="submit" class="pull-left" style="background-size: cover;">
                        <input type="submit" id="send_message" value="Send Code" class="btn btn-main color-2 ripple-surface">
                      </div>
                    </div>
                  </div>
              </form>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div *ngIf=showMessage>
      <section aria-label="section" style="background-size: cover;">
        <div class="container" style="background-size: cover;">
          <div class="row" style="background-size: cover;">
            <div class="col-md-8 offset-md-2" style="background-size: cover;">
              <div class="spacer-10" style="background-size: cover;"></div> 
              <div class="alert alert-success alert-dismissible d-flex align-items-center fade show">
                <i class="bi-check-circle-fill"></i>
                <strong class="mx-2">Check Your Email!</strong> Please check your email address for instructions to reset your password..
                
            </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    </div>
  
  </div>
  