<div class="no-bottom no-top" id="content" style="background-size: cover;">
  <div id="top" style="background-size: cover;"></div>
  <!--  Start Section Hero -->
  <section id="section-hero" aria-label="section" class="no-top no-bottom vh-100" data-bgimage="url(assets/images/background/bg-shape-1.jpg) bottom" style="background: url('../../../../assets/client/images/background/bg-shape-1.jpg') center bottom / cover;">
    <div class="v-center" style="background-size: cover;">
      <div class="container" style="background-size: cover;">
        <div class="row align-items-center" style="background-size: cover;">
          <div class="col-md-6" style="background-size: cover;">
            <div class="spacer-single" style="background-size: cover;"></div>
            <h6 class="wow fadeInUp animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;"><span class="text-uppercase id-color-2">ReSupply</span></h6>
            <div class="spacer-10" style="background-size: cover;"></div>
            <h1 class="wow fadeInUp animated" data-wow-delay=".75s" style="visibility: visible; animation-delay: 0.75s; animation-name: fadeInUp;">Collect and Share School Supplies in Africa.</h1>
            <p class="wow fadeInUp lead animated" data-wow-delay="1s" style="visibility: visible; animation-delay: 1s; animation-name: fadeInUp;">
              An eco-friendly platform for African students to collect reused school supplies effectively.</p>
            <div class="spacer-10" style="background-size: cover;"></div>
            <a [routerLink]="['/products']" class="btn-main wow fadeInUp lead animated" data-wow-delay="1.25s" style="visibility: visible; animation-delay: 1.25s; animation-name: fadeInUp;">Explore</a>
            <div class="mb-sm-30" style="background-size: cover;"></div>
          </div>
          <div class="col-md-6 xs-hide" style="background-size: cover;">
            <img src="../../../../assets/client/images/bg.png" class="lazy img-fluid wow fadeIn animated" data-wow-delay="1.25s" alt="" style="visibility: visible; animation-delay: 1.25s; animation-name: fadeIn;">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--  End Section Hero-->
  <!--  Start Section Intro-->
  <section id="section-intro" class="no-top no-bottom" style="background-size: cover;">
    <div class="container" style="background-size: cover;">
      <div class="row" style="background-size: cover;justify-content: center">
        <div class="col-lg-12">
          <div class="text-center">
            <h2>Our scope</h2>
            <div class="small-border bg-color-2"></div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-sm-30" style="background-size: cover;">
          <div class="feature-box f-boxed style-3" style="background-size: cover;">
            <i [routerLink]="['/products']" class="wow fadeInUp bg-color-2 i-boxed icon_wallet animated" style="visibility: visible; animation-name: fadeInUp; cursor: pointer"></i>
            <div class="text" style="background-size: cover;">
              <h4 [routerLink]="['/products']" class="wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp; cursor: pointer">Explore school supplies</h4>
              <p  class="wow fadeInUp animated" data-wow-delay=".25s" style="visibility: visible; animation-delay: 0.25s; animation-name: fadeInUp;">Explore our collection of school supplies and other educational items that have been donated by people just like you.</p>
            </div>
            <i class="wm icon_wallet"></i>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-sm-30" style="background-size: cover;">
          <div class="feature-box f-boxed style-3" style="background-size: cover;">
            <i [routerLink]="['/donation']" class="wow fadeInUp bg-color-2 i-boxed icon_cloud-upload_alt animated" style="visibility: visible; animation-name: fadeInUp;cursor: pointer"></i>
            <div class="text" style="background-size: cover;">
              <h4 [routerLink]="['/donation']" class="wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;cursor: pointer">Make a donation</h4>
              <p class="wow fadeInUp animated" data-wow-delay=".25s" style="visibility: visible; animation-delay: 0.25s; animation-name: fadeInUp;">Contribute financially to our cause to help us collect and distribute even more supplies.</p>
            </div>
            <i class="wm icon_cloud-upload_alt"></i>
          </div>
        </div>
      </div>
      <div class="spacer-20"></div>
      <div class="row" style="background-size: cover;justify-content: center">
        <div class="col-lg-4 col-md-6 mb-sm-30" style="background-size: cover;">
          <div class="feature-box f-boxed style-3" style="background-size: cover;">
            <i [routerLink]="['/community']" class="wow fadeInUp bg-color-2 i-boxed icon_tags_alt animated" style="visibility: visible; animation-name: fadeInUp;cursor: pointer"></i>
            <div class="text" style="background-size: cover;">
              <h4 [routerLink]="['/community']" class="wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;cursor: pointer">Impact the community</h4>
              <p class="wow fadeInUp animated" data-wow-delay=".25s" style="visibility: visible; animation-delay: 0.25s; animation-name: fadeInUp;">Our blog is updated regularly with stories of success, opportunities, and making new contacts.</p>
            </div>
            <i class="wm icon_tags_alt"></i>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-sm-30" style="background-size: cover;">
          <div class="feature-box f-boxed style-3" style="background-size: cover;">
            <i [routerLink]="['/knowledge']" class="wow fadeInUp bg-color-2 i-boxed icon_group animated" style="visibility: visible; animation-name: fadeInUp;cursor: pointer"></i>
            <div class="text" style="background-size: cover;">
              <h4 [routerLink]="['/knowledge']" class="wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;cursor: pointer">Share your Knowledge</h4>
              <p class="wow fadeInUp animated" data-wow-delay=".25s" style="visibility: visible; animation-delay: 0.25s; animation-name: fadeInUp;">Enjoy our comprehensive collection of resources,designed to empower you to become the best version of yourself.</p>
            </div>
            <i class="wm icon_group"></i>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--  End Section Intro-->
  <!--  Start Section Collections-->
  <section id="section-items" class="no-bottom">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="text-center">
            <h2>New school supplies</h2>
            <div class="small-border bg-color-2"></div>
          </div>
        </div>
        <div id="items-carousel" class="owl-carousel wow fadeIn"  >
          <!-- nft item begin -->
          <div class="d-item"  >
            <div class="nft__item" >
              <div class="author_list_pp">
                <a href="author.html" data-bs-toggle="tooltip" data-bs-placement="top" title="Creator: Monica Lucas">
                  <img class="lazy" src="" alt="">
                  <i class="fa fa-check"></i>
                </a>
              </div>
              <div class="nft__item_wrap">
                <a href="item-details.html">
                  <div class="d-placeholder"></div>
                  <img src="images/items/static-1.jpg" class="lazy nft__item_preview" alt="">
                </a>
              </div>
              <div class="nft__item_info">
                <a href="item-details.html">
                  <h4>Pinky Ocean</h4>
                </a>
                <div class="nft__item_price">
                  0.08 ETH<span>1/20</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>
