<div id="wrapper">
    <div class="no-bottom no-top" id="content" style="background-size: cover;">
      <div id="top" style="background-size: cover;"></div>
      <!-- section begin -->
      <section id="subheader" class="text-light" data-bgimage="url(assets/client/images/background/subheader.jpg) top" style="background: url('../../../../assets/client/images/background/subheader.jpg') center top / cover;">
        <div class="center-y relative text-center" style="background-size: cover;">
          <div class="container" style="background-size: cover;">
            <div class="row" style="background-size: cover;">

              <div class="col-md-12 text-center" style="background-size: cover;">
                <h1>Verification Code</h1>
                <p>Enter your Verification Code To Login.</p>
              </div>
              <div class="clearfix" style="background-size: cover;"></div>
            </div>
          </div>
        </div>
      </section>
      <div>
      <section aria-label="section" style="background-size: cover;">
        <div class="container" style="background-size: cover;">
          <div class="row" style="background-size: cover;">
            <div class="col-md-8 offset-md-2" style="background-size: cover;">
              <div aria-label="section" style="background-size: cover;">
                <div class="container" style="background-size: cover;">
                  <div class="row" style="background-size: cover;">
                    <div class="col-md-8 offset-md-2" style="background-size: cover;">
                      <div class="spacer-10" style="background-size: cover;"></div>
                      <div class="alert alert-success alert-dismissible d-flex align-items-center fade show">
                        <i class="bi-check-circle-fill"></i>
                        <strong class="mx-2">Check Your Verification Code!</strong> Please check your phone for instructions to proceed further..
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="spacer-10" style="background-size: cover;"></div>
              <form name="contactForm" id="contact_form" class="form-border" method="post"
                [formGroup]="codeForm" (ngSubmit)="onSubmit()">
                  <div class="row" style="background-size: cover;">
                    <div class="col-md-10" style="background-size: cover;">
                      <div class="field-set" style="background-size: cover;">
                        <label>Code:</label>
                        <input type="text" name="code" id="code" class="form-control" formControlName="code">
                      </div>
                      <div>
                         <div *ngIf="errorMessage" class="alert alert-danger alert-dismissible fade show">
    <i class="bi-check-circle-fill"></i>
    <strong class="mx-2">Error!</strong>{{errorMessage}}
  </div>
                    </div>
                    </div>
                    <div class="col-md-12" style="background-size: cover; margin-top: 30px">
                      <div id="submit" class="pull-left" style="background-size: cover;">
                        <input type="submit" id="send_message" value="Confirm Code" class="btn btn-main color-2 ripple-surface">
                      </div>
                    </div>
                  </div>
              </form>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div>

    </div>
    </div>

  </div>
