.action-wrapper{
  width: 30px;
  height: 30px;
  display: inline-block;
  background-color: rgba(var(--secondary-color-rgb), 0.1);
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  margin: 0 10px;
}

.sr-wrapper{
  padding: 4px 7px;
  border-radius: 10px;
}

