<div id="wrapper">
  <ul class="nav nav-tabs" style="justify-content: center; gap: 20px; padding-top: 20px;">
    <li class="nav-item">
      <a class="nav-link  " (click)="selectedComponent='user'"
         [ngClass]="{'active':selectedComponent==='user'}"
      >User Management</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="selectedComponent='product'"
         [ngClass]="{' active':selectedComponent==='product'}"
      >Product Management</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="selectedComponent='donation'"
         [ngClass]="{' active':selectedComponent==='donation'}"
      >Donation Management</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " (click)="selectedComponent='community'"
         [ngClass]="{' active':selectedComponent==='community'}"
      >Community Management</a>
    </li>
    <li class="nav-item">
      <a class="nav-link  " (click)="selectedComponent='claims'"
         [ngClass]="{'active':selectedComponent==='claims'}"
      >Claims Management</a>
    </li>
    <li class="nav-item">
      <a class="nav-link  " (click)="selectedComponent='resources'"
         [ngClass]="{'active':selectedComponent==='resources'}"
      >Resources Management</a>
    </li>
  </ul>
</div>

<div class="no-bottom no-top" id="content">
  <div class="container">
    <div class="row wow fadeIn">
      <!-- section begin -->
      <app-user-management *ngIf="selectedComponent==='user'"></app-user-management>
      <app-product-management *ngIf="selectedComponent==='product'"></app-product-management>
      <app-donation-management *ngIf="selectedComponent==='donation'"></app-donation-management>
      <app-claims-management *ngIf="selectedComponent==='claims'"></app-claims-management>
      <app-resources-management *ngIf="selectedComponent==='resources'"></app-resources-management>
      <app-blogs-management *ngIf="selectedComponent==='community'"></app-blogs-management>
    </div>
    <!-- content close -->
    <a href="#" id="back-to-top" class="show"></a>
  </div>
</div>

