<div id="wrapper">
  <ul class="nav nav-tabs   ">
    <li class="nav-item">
      <a class="nav-link  " (click)="selectedComponent='user'"
         [ngClass]="{'active':selectedComponent==='user'}"
      >User Management</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="selectedComponent='product'"
         [ngClass]="{' active':selectedComponent==='product'}"
      >Product Management</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="selectedComponent='donation'"
         [ngClass]="{' active':selectedComponent==='donation'}"
      >Donation Management</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " (click)="selectedComponent='blog'"
         [ngClass]="{' active':selectedComponent==='blog'}"
      >Blog Management</a>
    </li>
  </ul>
</div>

<div class="no-bottom no-top" id="content">
  <div class="container">
    <div class="row wow fadeIn">
      <!-- section begin -->
      <app-user-management *ngIf="selectedComponent==='user'"></app-user-management>
      <app-product-management *ngIf="selectedComponent==='product'"></app-product-management>
      <app-donation-management *ngIf="selectedComponent==='donation'"></app-donation-management>
    </div>
    <!-- content close -->
    <a href="#" id="back-to-top" class="show"></a>
  </div>
</div>

