<div class="no-bottom no-top" id="content" style="background-size: cover">
  <div id="top" style="background-size: cover"></div>

  <!-- section begin -->
  <section
    id="subheader"
    class="text-light"
    data-bgimage="url(assets/client/images/background/subheader.jpg) top"
    style="
      background: url('../../../../assets/client/images/background/subheader.jpg')
        center top / cover;
    "
  >
    <div class="center-y relative text-center" style="background-size: cover">
      <div class="container" style="background-size: cover">
        <div class="row" style="background-size: cover">
          <div class="col-md-12 text-center" style="background-size: cover">
            <h1>Update Password</h1>
          </div>
          <div class="clearfix" style="background-size: cover"></div>
        </div>
      </div>
    </div>
  </section>
  <!-- section close -->

  <!-- section begin -->
  <section
    id="section-main"
    aria-label="section"
    style="background-size: cover"
  >
    <div class="container" style="background-size: cover">
      <div class="row" style="background-size: cover">
        <div class="col-lg-8 offset-lg-2" style="background-size: cover">
          <form
            id="form-update-password"
            class="form-border"
            [formGroup]="updatePasswordForm"
            (ngSubmit)="onSubmit()"
          >
            <div class="de_tab tab_simple" style="background-size: cover">


              <div class="de_tab_content" style="background-size: cover">
                <div class="tab-1" style="background-size: cover">
                  <div
                    class="row wow fadeIn animated"
                    style="
                      background-size: cover;
                      visibility: visible;
                      animation-name: fadeIn;
                    "
                  >
                    <div
                      class="col-lg-8 mb-sm-20"
                      style="background-size: cover"
                    >
                      <div class="field-set" style="background-size: cover">
                        <h5>Current Password: </h5>
                        <input
                          type="password"
                          class="form-control"
                          id="currentPassword"
                          name="currentPassword"
                          formControlName="passwordCurrent"
                        />

                        <div
                          class="spacer-20"
                          style="background-size: cover"
                        ></div>

                        <h5>New Password: </h5>
                        <input
                          type="password"
                          name="password"
                          id="password"
                          class="form-control"
                          formControlName="password"
                        />

                        <div
                          class="spacer-20"
                          style="background-size: cover"
                        ></div>

                        <h5>New Password Confirm: </h5>
                        <input
                          type="password"
                          name="confirmPassword"
                          id="confirmPassword"
                          class="form-control"
                          formControlName="confirmPassword"
                        />

                        <div
                          class="spacer-20"
                          style="background-size: cover"
                        ></div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="message-invalid" style="margin-bottom: 15px" *ngIf="errorMessage">
              {{ errorMessage }}
            </div>
            <div class="message-valid" style="margin-bottom: 15px" *ngIf="successMessage">
              {{ successMessage }}
            </div>
            <div class="spacer-30" style="background-size: cover"></div>
            <input
              type="submit"
              id="submit"
              class="btn-main"
              value="Update password"
            />
          </form>
        </div>
      </div>
    </div>
  </section>
</div>
