<div id="wrapper">
  <div class="no-bottom no-top" id="content">

    <div class="header-section" style="margin-bottom: 0;">
      <div class="container">
        <div class="row align-items-center" style="background-size: cover;">
          <div class="col-md-6" style="background-size: cover;">
            <div class="spacer-single" style="background-size: cover;"></div>
            <h6 class="wow fadeInUp animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;"><span class="text-uppercase id-color-2">ReSupply</span></h6>
            <div class="spacer-10" style="background-size: cover;"></div>
            <h1 class="wow fadeInUp animated" data-wow-delay=".75s" style="visibility: visible; animation-delay: 0.75s; animation-name: fadeInUp;">Sharing knowledge</h1>
            <p class="wow fadeInUp lead animated" data-wow-delay="1s" style="visibility: visible; animation-delay: 1s; animation-name: fadeInUp;">
              Sharing knowledge is essential for personal and professional growth, and it also contributes to the betterment of society. <br> It enables individuals to learn from each other and create new ideas that can drive innovation and progress.</p>
            <div class="spacer-10" style="background-size: cover;"></div>
            <div class="mb-sm-30" style="background-size: cover;"></div>
          </div>
          <div class="col-md-6 xs-hide" style="background-size: cover;">
            <img src="../../../../assets/client/images/room.jpg" class="lazy img-fluid wow fadeIn animated" data-wow-delay="1.25s" alt="" style="visibility: visible; animation-delay: 1.25s; animation-name: fadeIn; border-radius: 10px; border: 1px solid #ccc;">
          </div>
        </div>
        <hr>
      </div>
    </div>
    <!-- section close -->


    <!-- section begin -->
    <section aria-label="section">
      <div class="container">
        <div class="row wow fadeIn">
          <div class="col-lg-12">

            <div class="items_filter">
              <form action="https://gigaland.io/blank.php" class="row form-dark" id="form_quick_search" method="post" name="form_quick_search">
                <div class="col text-center">
                  <input class="form-control" id="name_1" name="name_1" placeholder="search item here..." type="text" /> <a href="#" id="btn-submit"><i class="fa fa-search bg-color-secondary"></i></a>
                  <div class="clearfix"></div>
                </div>
              </form>

              <div id="item_category" class="dropdown">
                <a href="#" class="btn-selector">All categories</a>
                <ul>
                  <li class="active"><span>All categories</span></li>
                  <li><span>Art</span></li>
                  <li><span>Music</span></li>
                  <li><span>Domain Names</span></li>
                  <li><span>Virtual World</span></li>
                  <li><span>Trading Cards</span></li>
                  <li><span>Collectibles</span></li>
                  <li><span>Sports</span></li>
                  <li><span>Utility</span></li>
                </ul>
              </div>

              <a [routerLink]="['/knowledge']" class="btn-main btn-lg btn-light">Back</a>&nbsp;&nbsp;&nbsp;
            </div>

          </div>



          <!-- nft item begin -->
          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12" *ngFor="let meet of Meetingobject">
            <div class="nft__item">
              <div class="de_countdown" data-year="2023" data-month="3" data-day="16" data-hour="8"></div>
              <div class="author_list_pp">
                <a href="#">
                  <img class="lazy"  src="{{userconnected.data['user'].images[0]}}" alt="">
                  <i class="fa fa-check"></i>
                </a>
              </div>
              <div class="nft__item_wrap">
                <a href="#">
                  <img src="assets/client/images/meeting.jpg" class="lazy nft__item_preview" alt="">
                </a>
              </div>
              <div class="nft__item_info">
                <a href="#">
                  <h3>{{ meet.title }}</h3>
                </a>
                <div class="nft__item_click">
                  <span></span>
                </div>
                <div class="nft__item_price">

                  <p>{{ meet.description }}</p>
                </div>
                <div class="nft__item_action">
                  <p>Date: {{ meet.date | date:'dd/MM/yyyy' }}</p>
                </div>
                <div *ngIf="isToday(meet.date)">
                  <a (click)="StartMeet(meet.title,meet.description)" class="btn-main btn-lg btn-light">Start Meet</a>
                </div>
                <div *ngIf="!isToday(meet.date)">
                  <div class="alert alert-warning" role="alert">
                    that day has not yet arrived
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>
</div>
