.progress{
  background: #eae4e4;
}
.fa-dollar{
  color: #046404;
}

.paddingIteam{
  margin-top: 50px;
}

body {
  background-color: #F1F2F3;
}

.closed{
  cursor: not-allowed !important;
  background-color: rgb(229, 229, 229)!important;
  color: #9b9999!important;
  border: none !important;
}


.wrapper{
  position: relative;
  overflow: hidden;
}
.wrapper img{
  width: 100%;
  height: 100%;

  transition: transform 400ms;
}
.wrapper:hover img{

  transform: matrix3d(1.2, 0.1,0.1, 0, 0, 1.2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}

.nav-link{
  color: #495057;
  cursor: pointer;
}

.nav-link.active{
  color: var(--secondary-color);
}
.container-fluid,
.container {

width: auto;
}


.btn-main:hover{
  color: #8364E2;
  background-color: #FFFFFF;
  border: 1px solid #8364E2;
}

