<div id="wrapper">
  <div class="no-bottom no-top" id="content">
    <div class="header-section" style="margin-bottom: 0;">
      <div class="container">
        <div class="row align-items-center" style="background-size: cover;">
          <div class="col-md-6" style="background-size: cover;">
            <div class="spacer-single" style="background-size: cover;"></div>
            <h6 class="wow fadeInUp animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;"><span class="text-uppercase id-color-2">ReSupply</span></h6>
            <div class="spacer-10" style="background-size: cover;"></div>
            <h1 class="wow fadeInUp animated" data-wow-delay=".75s" style="visibility: visible; animation-delay: 0.75s; animation-name: fadeInUp;">Create Brighter Future For Students In Need.</h1>
            <p class="wow fadeInUp lead animated" data-wow-delay="1s" style="visibility: visible; animation-delay: 1s; animation-name: fadeInUp;">
              Donate your gently used school supplies to those in need,
              and give the gift of education to students across the community. <br> Make a Difference with ReSupply</p>
            <div class="spacer-10" style="background-size: cover;"></div>
            <button class="btn-main"
                    [routerLink]="['/createRequest']">Ask For Donation
            </button>
            <div class="mb-sm-30" style="background-size: cover;"></div>
          </div>
          <div class="col-md-6 xs-hide" style="background-size: cover;">
            <img src="../../../../assets/client/images/donation.webp" class="lazy img-fluid wow fadeIn animated" data-wow-delay="1.25s" alt=""
                 style="visibility: visible; animation-delay: 1.25s; animation-name: fadeIn; border-radius: 10px;">
          </div>
        </div>
        <hr>
      </div>
    </div>
    <section>
  <div class="row" style="margin-left: 15px;margin-right: 15px">
    <div class="col-lg-4 col-md-6 col-sm-6" style="margin-bottom: 25px" *ngFor="let donation of donationList">
      <div class="nft__item">
        <div class="author_list_pp">
          <a href="author.html" data-bs-toggle="tooltip" data-bs-placement="top" title="Creator: {{donation.requester_id.firstName}} {{donation.requester_id.lastName}}">
            <img class="lazy" src="{{donation.requester_id.images[0]}}" alt="">
            <i class="fa fa-check"></i>
          </a>
        </div>
        <div class="nft__item_wrap">
          <a href="">
            <div class="d-placeholder"></div>
            <img src="{{ donation.requestImage[0] }}" class="nft__item_preview" alt="" >
          </a>
        </div>
        <div class="nft__item_info">
          <a href="item-details.html">
            <h4>{{donation.requestTitle}}</h4>
          </a>

          <div class="nft__item_price" *ngIf="donation.type==='Currency'">
                <div style="font-size: 25px ;">Raised
                  <p><i class="fa fa-dollar"></i>{{donation.currentValue}}</p></div>
                <div style="font-size: 25px ; text-align: right">GOAL
                  <p><i class="fa fa-dollar"></i>{{donation.targetValue}}</p></div>
          </div>
          <div class="progress" *ngIf="donation.type==='Currency'">
            <div class="progress-bar " role="progressbar" style.width="{{donation.percentage}}%"
                 style="background-color: #64a9e2" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <div class="row" *ngIf="donation.type==='Item'">
            <button [ngClass]="{'closed':donation.close}"
                    [disabled]="true" class="btn-main" *ngIf="donation.close">Donation Closed
            </button>
            <button class="btn-main" *ngIf="!donation.close">
              Make a Donation
            </button>
          </div>
          <ng-container *ngIf="donation.type==='Currency'">
            <button [ngClass]="{'closed':donation.close}"
                    [disabled]="true" class="btn-main" *ngIf="donation.close">Donation Closed
            </button>
            <button style="display: block; margin: 20px auto 0;" class="btn-main" *ngIf="!donation.close">
              Make a Donation
            </button>
          </ng-container>
          <div class="spacer-10"></div>
        </div>
      </div>
    </div>
  </div>
</section>
  </div>
</div>








