<head>

</head>
<div class="no-bottom no-top" id="content" style="background-size: cover;">
  <div id="top" style="background-size: cover;"></div>

  <section class="full-height relative no-top no-bottom vertical-center" data-bgimage="url(assets/client/images/background/subheader.jpg) top" data-stellar-background-ratio=".5" style="min-height: 216px; background: url('../../../../assets/client/images/background/subheader.jpg') center top / cover;">
    <div class="overlay-gradient t50" style="background-size: cover;">
      <div class="center-y relative" style="background-size: cover;">
        <div class="container" style="background-size: cover;">
          <div class="row align-items-center" style="background-size: cover;">
            <div class="col-lg-5 text-light wow fadeInRight animated" data-wow-delay=".5s" style="background-size: cover; visibility: visible; animation-delay: 0.5s; animation-name: fadeInRight;">
              <div class="spacer-10" style="background-size: cover;"></div>
              <h1>Collect and Share School Supplies in Africa.</h1>
              <p class="lead">An eco-friendly platform for African students to collect reused school supplies effectively.</p>
            </div>

            <div class="col-lg-4 offset-lg-2 wow fadeIn animated" data-wow-delay=".5s" style="background-size: cover; visibility: visible; animation-delay: 0.5s; animation-name: fadeIn;">
              <div class="box-rounded padding40" data-bgcolor="#ffffff" style="background-color: rgb(255, 255, 255); background-size: cover;">
                <h3 class="mb10">Sign In</h3>
                <p>Login using an existing account or create a new account <a [routerLink]="['/signup']">here<span></span></a>.</p>
                <form name="contactForm" id="contact_form" class="form-border" method="post"
                      [formGroup]="loginForm" (ngSubmit)="onSubmit()">

                  <div class="field-set" style="background-size: cover;">
                    <input type="text" name="email" id="email" class="form-control" placeholder="email"
                    formControlName="email">
                  </div>

                  <div class="field-set" style="background-size: cover;">
                    <input type="password" name="password" id="password" class="form-control" placeholder="password"
                    formControlName="password">
                  </div>
                  <div class="message-invalid" style="margin-bottom: 15px" *ngIf="errorMessage">
                    {{ errorMessage }}
                  </div>
                  <div style="display: flex; justify-content: center">
                    <ngx-recaptcha2 #captchaElem
                                    [siteKey]="captchaSiteKey"
                                    formControlName="recaptcha">
                    </ngx-recaptcha2>
                  </div>
                  <div class="message-invalid" style="margin-bottom: 15px" *ngIf="
                  submitted &&
                  recaptcha.hasError('required')">
                    Please verify that you are not a robot
                  </div>
                  <div class="field-set" style="background-size: cover; margin-top: 15px">
                    <input type="submit" id="send_message" value="Submit" class="btn btn-main btn-fullwidth color-2">
                  </div>
                  <div class="field-set" style="background-size: cover;">
                    <ul class="list s3">
                      <li><a [routerLink]="['/forgetPassword']">Forgot password?</a></li>
                    </ul>
                  </div>
                  <div class="clearfix" style="background-size: cover;"></div>
                  <div class="spacer-single" style="background-size: cover;"></div>
                  <!-- social icons -->
                  <ul class="list s3">
                    <li>Login with:</li>
                  </ul>
                  <div class="spacer-10"></div>
                  <div class="button-container">
                    <button (click)="loginWithFacebook()" class="facebook-btn">
                      <span class="facebook-icon"><i class="fab fa-facebook"></i></span>
                      <span class="btn-text">Facebook</span>
                    </button>
                    <button #loginref class="google-btn">
                      <span class="google-icon"><i class="fab fa-google"></i></span>
                      <span class="btn-text">Google</span>
                    </button>
                  </div>



                  <!-- social icons close -->
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>



