
  .form-check label {
    background-color: #8364E2;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
  }

  .form-check label:hover {
    background-color: #8364E2;
  }

  .form-check input[type="checkbox"]:checked + label::after {
    content: "\2713";
    color: white;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

