<div class="container">
  <div class="row">
    <div class="col-md-5 offset-1">
      <img [src]="donationImageUrl" class="image-autosize img-fluid img-rounded mb-sm-30"
           style="height: 100%; border-radius: 10px; box-shadow: 10px 10px 22px #999999" alt="">
    </div>
    <div class="col-md-5 offset-1" style="margin-top: 2rem">
      <h2 *ngIf="donation.requestTitle">{{ donation.requestTitle }}</h2>
      <table class="table">
        <tbody>
        <tr *ngIf="donation.type">
          <td>Type:</td>
          <td><p>{{ donation.type }}</p></td>
        </tr>
        <tr *ngIf="donation.itemType">
          <td>Item Type:</td>
          <td><p>{{ donation.itemType }}</p></td>
        </tr>
        <tr *ngIf="donation.targetValue">
          <td>Goal:</td>
          <td><strong>{{ donation.targetValue | currency:'USD':true:'1.2-2' }}</strong></td>
        </tr>
        <tr *ngIf="donation.currentValue">
          <td>Raised:</td>
          <td><strong>{{ donation.currentValue | currency:'USD':true:'1.2-2' }}</strong></td>
        </tr>

        <tr>
          <td>Notes:</td>
          <td><p>{{ donation.notes }}</p></td>
        </tr>
        </tbody>
      </table>
      <div class="spacer-20"></div>
      <h3>Contact the owner</h3>
      <table class="table">
        <tbody>
        <tr>
          <td>Full name:</td>
          <td>{{ donation.requester_id.firstName }} {{ donation.requester_id.lastName }}</td>
        </tr>
        <tr>
          <td>Email:</td>
          <td>{{ donation.requester_id.email }}</td>
        </tbody>
      </table>
      <div class="spacer-30"></div>
      <form *ngIf="donation.type !=='Item'" #donationForm="ngForm" (ngSubmit)="onSubmit(donationForm)">
        <input type="hidden" name="requestId" [value]="donation._id">
        <label for="amount">Target Value :</label>
        <span style="display: inline;margin-left: 10px;" class="input-group-text">{{donation.targetValue | currency:'USD':true:'1.2-2'}} </span>
        <div class="input-group mb-3">
          <input id="amount"
                 type="range"
                 class="form-range my-3"
                 max="{{donation.targetValue - donation.currentValue}}"
                 step="1"
                 name="amount"
                 [(ngModel)]="donationAmount"
                 (input)="onSliderChange($event.target['value'])"
                 required>
          <label for="amount" style="display: flex;
                              align-items: center;
                              margin-right: 10px;">Donation Amount :</label><br>
          <span class="input-group-text">{{donationAmount | currency:'USD':true:'1.2-2'}}</span>
        </div>
        <div class="text-center">
          <button type="submit" class="btn-main my-3">Donate Now</button>
          <button (click)="donateWithEthereum(
            donation._id,
            donation.requester_id.walletEth.address,
            donationAmount)"
             class="btn-main btn-lg mx-2" style="cursor: pointer" data-bs-toggle="modal">
            Donate Now Using Ethereum
          </button>
        </div>
      </form>
    </div>
    <div class="spacer-50"></div>
  </div>
</div>
