<div class="container">
  <div class="row">
    <div class="col-md-5 offset-1">
      <img [src]="donationImageUrl" class="image-autosize img-fluid img-rounded mb-sm-30"
           style="height: 100%; border-radius: 10px; box-shadow: 10px 10px 22px #999999" alt="">
    </div>
    <div class="col-md-5 offset-1" style="margin-top: 2rem">
      <h2>{{ donation.requestTitle }}</h2>
      <table class="table">
        <tbody>
        <tr *ngIf="donation.type">
          <td>Type:</td>
          <td><p>{{ donation.type }}</p></td>
        </tr>
        <tr *ngIf="donation.itemType">
          <td>Item Type:</td>
          <td><p>{{ donation.itemType }}</p></td>
        </tr>
        <tr *ngIf="donation.targetValue">
          <td>Goal:</td>
          <td><strong>{{ donation.targetValue | currency:'USD':true:'1.2-2' }}</strong></td>
        </tr>
        <tr *ngIf="donation.currentValue">
          <td>Raised:</td>
          <td><strong>{{ donation.currentValue | currency:'USD':true:'1.2-2' }}</strong></td>
        </tr>

        <tr>
          <td>Notes:</td>
          <td><p>{{ donation.notes }}</p></td>
        </tr>
        </tbody>
      </table>
      <div class="spacer-20"></div>
      <h3>Contact the owner</h3>
      <table class="table">
        <tbody>
        <tr>
          <td>Full name:</td>
          <td>{{ donation.requester_id.firstName }} {{ donation.requester_id.lastName }}</td>
        </tr>
        <tr>
          <td>Email:</td>
          <td>{{ donation.requester_id.email }}</td>
        </tbody>
      </table>
      <div class="spacer-30"></div>
      <a class="btn-main btn-lg" data-bs-toggle="modal" data-bs-target="#donateNow">
        Donate Now
      </a>
    </div>
    <div class="spacer-50"></div>
  </div>
</div>
