/*.load{*/
/*  position: absolute;*/
/*  width: 20px;*/
/*  height: 20px;*/
/*  border: 7px solid #dddd;*/
/*  border-radius: 50%;*/
/*  top: 37px;*/
/*  right: 10px;*/
/*  animation: 0.5s linear infinite spin;*/
/*  border-right-color: transparent;*/
/*  border-bottom-color: transparent;*/
/*}*/

@keyframes spin{
    100%{
      transform: rotate(350deg);
    }
  }
  
  input.is-invalid {
    border-color: #dc3545 !important;
  }
  
  .invalid-feedback {
    color: #dc3545 !important;
  }
  