<div id="wrapper">
    <div class="no-bottom no-top" id="content" style="background-size: cover;">
      <div id="top" style="background-size: cover;"></div>

      <!-- section begin -->
      <section id="subheader" class="text-light" data-bgimage="url(assets/client/images/background/subheader.jpg) top" style="background: url('../../../../assets/client/images/background/subheader.jpg') center top / cover;">
        <div class="center-y relative text-center" style="background-size: cover;">
          <div class="container" style="background-size: cover;">
            <div class="row" style="background-size: cover;">

              <div class="col-md-12 text-center" style="background-size: cover;">
                <h1>Confirm you password</h1>
              </div>
              <div class="clearfix" style="background-size: cover;"></div>
            </div>
          </div>
        </div>
      </section>
      <section aria-label="section" style="background-size: cover;">
        <div class="container" style="background-size: cover;">
          <div class="row" style="background-size: cover;">
            <div class="col-md-8 offset-md-2" style="background-size: cover;">
              <div class="spacer-10" style="background-size: cover;"></div>
              <form name="contactForm" id="contact_form" class="form-border" method="post"
                  [formGroup]="forgetpwdAfterSubmitForm" (ngSubmit)="onSubmit()">
                  <div class="row" style="background-size: cover;">
                    <div class="col-md-10" style="background-size: cover;">
                        <div class="field-set" style="background-size: cover;">
                          <label>Password:</label>
                          <input type="password" name="password" id="password" class="form-control" formControlName="password"
                                 [ngClass]="{
                          'input-invalid': password.invalid  && (password.dirty || password.touched),
                          'input-valid': password.valid && (password.dirty || password.touched) }">
                          <div
                            class="message-invalid"
                            *ngIf="password.touched && password.hasError('required')"
                          >
                            Password is required!
                          </div>
                          <div
                            class="message-invalid"
                            *ngIf="password.touched && password.hasError('minlength')"
                          >
                            Password must contain 8+ letters!
                          </div>
                          <!--success message-->
                          <div class="message-valid" *ngIf="password.touched && !password.errors">
                            Valid!
                          </div>
                        </div>
                      </div>

                      <div class="col-md-10" style="background-size: cover;">
                        <div class="field-set" style="background-size: cover;">
                          <label>Re-enter Password:</label>
                          <input type="password" name="re-password" id="re-password" class="form-control"
                                 formControlName="confirmPassword" [ngClass]="{
                          'input-invalid': confirmPassword.invalid  && (confirmPassword.dirty || confirmPassword.touched),
                          'input-valid': confirmPassword.valid && (confirmPassword.dirty || confirmPassword.touched) }">
                          <div
                            class="message-invalid"
                            *ngIf="confirmPassword.touched && confirmPassword.hasError('required')"
                          >
                            Re-enter Your password!
                          </div>
                          <div
                            class="message-invalid"
                            *ngIf="confirmPassword.touched && confirmPassword.hasError('minlength')"
                          >
                            Password must contain 8+ letters!
                          </div>
                          <div
                            class="message-invalid"
                            *ngIf="confirmPassword.touched && confirmPassword.hasError('wrongPassword')"
                          >
                            Passwords are not the same!
                          </div>
                          <!--success message-->
                          <div class="message-valid" *ngIf="confirmPassword.touched && !confirmPassword.errors">
                            Valid!
                          </div>
                        </div>
                      </div>
                    <div class="col-md-12" style="background-size: cover; margin-top: 30px">
                      <div id="submit" class="pull-left" style="background-size: cover;">
                        <input type="submit" id="send_message" value="Submit" class="btn btn-main color-2 ripple-surface"
                        [disabled]="forgetpwdAfterSubmitForm.invalid">
                      </div>
                    </div>
                  </div>
              </form>
            </div>
          </div>
        </div>
      </section>

    </div>

  </div>
