<section aria-label="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="items_filter text-center">
          <form
            action="https://gigaland.io/blank.php"
            class="row form-dark"
            id="form_quick_search"
            method="post"
            name="form_quick_search"
          >
            <div class="col text-center">
              <input
                class="form-control"
                [(ngModel)]="searchTerm"
                [ngModelOptions]="{ standalone: true }"
                (input)="onInputChange($event)"
                name=""
                id=""
                placeholder="search user here..."
                type="text"
              />
              <a id="btn-submit"
              ><i class="fa fa-search bg-color-secondary"></i
              ></a>
              <div class="clearfix"></div>
            </div>
          </form>
          <select class="me-4" id="filter_by_duration" (change)="selectUsersByDuration()" [(ngModel)]="selectedDuration">
            <option value="1day">Last 24 hours</option>
            <option value="1week">Last 7 days</option>
            <option value="1month">Last 30 days</option>
            <option value="alltime">All time</option>
          </select>

          <div id="filter_by_category" class="dropdown">
            <select [(ngModel)]="selectedCategory" (ngModelChange)="selectUsersByCategory()">
              <option value="all">All categories</option>
              <option value="admin">Admin</option>
              <option value="member">Member</option>
              <option value="active">Active</option>
              <option value="not-active">Not Active</option>
            </select>
          </div>

        </div>



        <div class="table-responsive">
          <table class="table de-table table-rank table-sm">
            <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Role</th>
              <th scope="col">Status</th>
              <th scope="col">Phone Number</th>
              <th scope="col">Email</th>
              <th scope="col">Joined</th>
              <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody *ngFor="let user of filteredUsers| paginate: { itemsPerPage: 5, currentPage: currentPage }; index as i">
            <tr>
              <th scope="row">
                <div class="coll_list_pp">
                  <img class="lazy" src="{{ user.images[0] }}" alt="" />
                  <i class="fa fa-check"></i>
                </div>
                {{ user.firstName + " " + user.lastName }}
              </th>
              <td>
          <span
            class="sr-wrapper"
            [ngStyle]="{
              backgroundColor:
                user.role === 'admin' ? '#d4c1ec' : '#fff9db'
            }"
          >
            {{ user.role }}
          </span>
              </td>
              <td>
          <span
            class="sr-wrapper"
            [ngStyle]="{
              backgroundColor: user.verified ? '#e6ffed' : '#ffe6e6'
            }"
          >
            {{ user.verified ? "Active" : "Not Active" }}
          </span>
              </td>
              <td class="">{{ getPhoneNumber(user) }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.joinedAt | date }}</td>
              <td>
                <a (click)="deleteUser(user._id)" class="action-wrapper"
                ><span aria-hidden="true" class="icon_trash_alt"></span
                ></a>
                <a *ngIf="user.role === 'member' " (click)="upgradeToAdmin(user._id)" class="action-wrapper"
                ><span aria-hidden="true" class="icon_plus_alt"></span
                ></a>
              </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
              <td colspan="7">
                <div class="d-flex justify-content-center">
                  <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
                </div>
              </td>
            </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
