<div id="wrapper">
  <div class="no-bottom no-top" id="content">
    <div class="header-section" style="margin-bottom: 0">
      <section aria-label="section" style="padding-top: 0">
        <div class="container">
          <div class="row align-items-center" style="background-size: cover">
            <div class="col-md-6" style="background-size: cover">
              <div class="spacer-single" style="background-size: cover"></div>
              <h6
                class="wow fadeInUp animated"
                data-wow-delay=".5s"
                style="
                  visibility: visible;
                  animation-delay: 0.5s;
                  animation-name: fadeInUp;
                "
              >
                <span class="text-uppercase id-color-2">ReSupply</span>
              </h6>
              <div class="spacer-10" style="background-size: cover"></div>
              <h1
                class="wow fadeInUp animated"
                data-wow-delay=".5s"
                style="
                  visibility: visible;
                  animation-delay: 0.5s;
                  animation-name: fadeInUp;
                "
              >
                Explore our Community
              </h1>
              <p
                class="wow fadeInUp lead animated"
                data-wow-delay="1s"
                style="
                  visibility: visible;
                  animation-delay: 1s;
                  animation-name: fadeInUp;
                "
              >
               Chatting breaks barriers and unites people from all around the world, creating a sense of belonging and community. It allows us to easily connect and communicate with people from different backgrounds and cultures. Through chat, we share ideas, emotions, and experiences in real-time, opening up new opportunities and possibilities.
              </p>
              <div class="spacer-10" style="background-size: cover"></div>
              <div class="mb-sm-30" style="background-size: cover"></div>
            </div>
            <div class="col-md-6 xs-hide" style="background-size: cover">
              <img
                src="../../../../assets/client/images/4457.jpg"
                class="lazy img-fluid wow fadeIn animated"
                data-wow-delay="1.25s"
                alt=""
                style="
                  visibility: visible;
                  animation-delay: 1.25s;
                  animation-name: fadeIn;
                  border-radius: 10px;
                  border: 1px solid #ccc;
                "
              />
            </div>
          </div>
          <hr />
        </div>

          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="de-flex sm-pt10">
                  <form
                    action="https://gigaland.io/blank.php"
                    class="row form-dark"
                    id="form_quick_search"
                    method="post"
                    name="form_quick_search"
                  >
                    <div class="col text-center">
                      <a id="btn-submit"
                        ><i
                          class="fa fa-search bg-color-secondary"
                          data-bs-toggle="offcanvas"
                          data-bs-target="#offcanvasScrolling"
                          aria-controls="offcanvasScrolling"
                        ></i
                      ></a>
                      <div class="clearfix"></div>
                    </div>
                  </form>
                  <h3>Chat With Friends</h3>

                  <div
                    id="de-click-menu-notification"
                    class="de-menu-notification"
                  >
                    <span class="d-count">8</span>
                    <i class="fa fa-bell"></i>
                    <div class="dropdown-content" [hidden]="!showDropdown">
                      <ul>
                        <li><span>Not Active</span></li>
                      </ul>
                    </div>
                  </div>

                  <div
                    class="offcanvas offcanvas-start"
                    data-bs-scroll="true"
                    data-bs-backdrop="false"
                    tabindex="-1"
                    id="offcanvasScrolling"
                    aria-labelledby="offcanvasScrollingLabel"

                  >
                    <div class="offcanvas-header">
                      <h5 class="offcanvas-title" id="offcanvasScrollingLabel">
                        Search Users In Here
                      </h5>
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="offcanvas"
                        aria-label="Close"
                      ></button>
                    </div>
                    <div class="offcanvas-body">
                      <div class="input-group">
                        <input
                          class="form-control form-control-sm"
                          placeholder="Search Users By Name Or Email"
                          type="text"
                          [(ngModel)]="searchTerm"
                        />
                        <p-button
                          label="Go"
                          [loading]="loading[3]"
                          (onClick)="load(3); searchChatUsers()"
                        ></p-button>
                      </div>
                      <div *ngFor="let chatUser of chatUsers; index as i">
                        <ng-container *ngIf="chatUser">
                          <div
                            style="
                              display: flex;
                              align-items: center;
                              position: relative;
                              z-index: 2;
                              margin-top: 20px;
                              cursor: pointer;
                            "
                            (click)="accessChat(chatUser._id)"
                            class="chat-user"
                            (mouseenter)="onMouseEnter()"
                            (mouseleave)="onMouseLeave()"
                          >
                            <img
                              [src]="chatUser.images"
                              style="
                                width: 50px;
                                height: 50px;
                                border-radius: 50%;
                              "
                            />
                            <div
                              style="
                                margin-left: 10px;
                                max-height: 50px;
                                margin-bottom: 20px;
                              "
                            >
                              <p style="margin-bottom: 0; margin-top: 10px">
                                {{ chatUser.firstName }}
                              </p>
                              <p>{{ chatUser.email }}</p>
                            </div>
                          </div>
                        </ng-container>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        <section style="background-color: rgba(131, 100, 226, 0.1)">
  <div class="container py-5">

    <div class="row">
      <div class="col-md-12">

        <div class="card" id="chat3" style="border-radius: 15px;">
          <div class="card-body">

            <div class="row">
              <div class="col-md-6 col-lg-7 col-xl-4 mb-4 mb-md-0">

                <div class="p-3">

                  <div class="input-group rounded mb-3">
                    <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
                      aria-describedby="search-addon" />
                    <span class="input-group-text border-0" id="search-addon">
                      <i class="fas fa-search"></i>
                    </span>
                  </div>

                  <div data-mdb-perfect-scrollbar="true" style="position: relative; height: 800px ">
                    <ul class="list-unstyled mb-0">
                      <li class="p-2 border-bottom">
                        <a href="#!" class="d-flex justify-content-between">
                          <div class="d-flex flex-row">
                            <div>
                              <img
                                src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                                alt="avatar" class="d-flex align-self-center me-3" width="60">
                              <span class="badge bg-success badge-dot"></span>
                            </div>
                            <div class="pt-1">
                              <p class="fw-bold mb-0">Marie Horwitz</p>
                              <p class="small text-muted">Hello, Are you there?</p>
                            </div>
                          </div>
                          <div class="pt-1">
                            <p class="small text-muted mb-1">Just now</p>
                            <span class="badge bg-danger rounded-pill float-end">3</span>
                          </div>
                        </a>
                      </li>
                      <li class="p-2 border-bottom">
                        <a href="#!" class="d-flex justify-content-between">
                          <div class="d-flex flex-row">
                            <div>
                              <img
                                src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava2-bg.webp"
                                alt="avatar" class="d-flex align-self-center me-3" width="60">
                              <span class="badge bg-warning badge-dot"></span>
                            </div>
                            <div class="pt-1">
                              <p class="fw-bold mb-0">Alexa Chung</p>
                              <p class="small text-muted">Lorem ipsum dolor sit.</p>
                            </div>
                          </div>
                          <div class="pt-1">
                            <p class="small text-muted mb-1">5 mins ago</p>
                            <span class="badge bg-danger rounded-pill float-end">2</span>
                          </div>
                        </a>
                      </li>
                      <li class="p-2 border-bottom">
                        <a href="#!" class="d-flex justify-content-between">
                          <div class="d-flex flex-row">
                            <div>
                              <img
                                src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3-bg.webp"
                                alt="avatar" class="d-flex align-self-center me-3" width="60">
                              <span class="badge bg-success badge-dot"></span>
                            </div>
                            <div class="pt-1">
                              <p class="fw-bold mb-0">Danny McChain</p>
                              <p class="small text-muted">Lorem ipsum dolor sit.</p>
                            </div>
                          </div>
                          <div class="pt-1">
                            <p class="small text-muted mb-1">Yesterday</p>
                          </div>
                        </a>
                      </li>
                      <li class="p-2 border-bottom">
                        <a href="#!" class="d-flex justify-content-between">
                          <div class="d-flex flex-row">
                            <div>
                              <img
                                src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava4-bg.webp"
                                alt="avatar" class="d-flex align-self-center me-3" width="60">
                              <span class="badge bg-danger badge-dot"></span>
                            </div>
                            <div class="pt-1">
                              <p class="fw-bold mb-0">Ashley Olsen</p>
                              <p class="small text-muted">Lorem ipsum dolor sit.</p>
                            </div>
                          </div>
                          <div class="pt-1">
                            <p class="small text-muted mb-1">Yesterday</p>
                          </div>
                        </a>
                      </li>
                      <li class="p-2 border-bottom">
                        <a href="#!" class="d-flex justify-content-between">
                          <div class="d-flex flex-row">
                            <div>
                              <img
                                src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava5-bg.webp"
                                alt="avatar" class="d-flex align-self-center me-3" width="60">
                              <span class="badge bg-warning badge-dot"></span>
                            </div>
                            <div class="pt-1">
                              <p class="fw-bold mb-0">Kate Moss</p>
                              <p class="small text-muted">Lorem ipsum dolor sit.</p>
                            </div>
                          </div>
                          <div class="pt-1">
                            <p class="small text-muted mb-1">Yesterday</p>
                          </div>
                        </a>
                      </li>
                      <li class="p-2">
                        <a href="#!" class="d-flex justify-content-between">
                          <div class="d-flex flex-row">
                            <div>
                              <img
                                src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava6-bg.webp"
                                alt="avatar" class="d-flex align-self-center me-3" width="60">
                              <span class="badge bg-success badge-dot"></span>
                            </div>
                            <div class="pt-1">
                              <p class="fw-bold mb-0">Ben Smith</p>
                              <p class="small text-muted">Lorem ipsum dolor sit.</p>
                            </div>
                          </div>
                          <div class="pt-1">
                            <p class="small text-muted mb-1">Yesterday</p>
                          </div>
                        </a>
                      </li>
                    </ul>
                  </div>

                </div>

              </div>

              <div class="col-md-6 col-lg-7 col-xl-8">

                <div class="pt-3 pe-3" data-mdb-perfect-scrollbar="true"
                  style="position: relative; height: 800px">

                  <div class="d-flex flex-row justify-content-start">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava6-bg.webp"
                      alt="avatar 1" style="width: 45px; height: 100%;">
                    <div>
                      <p class="small p-2 ms-3 mb-1 rounded-3" style="background-color: #f5f6f7;">Duis aute
                        irure
                        dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                      </p>
                      <p class="small ms-3 mb-3 rounded-3 text-muted float-end">12:00 PM | Aug 13</p>
                    </div>
                  </div>

                  <div class="d-flex flex-row justify-content-end">
                    <div>
                      <p class="small p-2 me-3 mb-1 text-white rounded-3 bg-primary">Excepteur sint occaecat
                        cupidatat
                        non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                      <p class="small me-3 mb-3 rounded-3 text-muted">12:00 PM | Aug 13</p>
                    </div>
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                      alt="avatar 1" style="width: 45px; height: 100%;">
                  </div>


                  <div class="d-flex flex-row justify-content-start">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava6-bg.webp"
                      alt="avatar 1" style="width: 45px; height: 100%;">
                    <div>
                      <p class="small p-2 ms-3 mb-1 rounded-3" style="background-color: #f5f6f7;">Neque porro
                        quisquam
                        est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non
                        numquam
                        eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                      <p class="small ms-3 mb-3 rounded-3 text-muted float-end">12:00 PM | Aug 13</p>
                    </div>
                  </div>

                </div>

                <div class="text-muted d-flex justify-content-start align-items-center pe-3 pt-3 mt-2">
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava6-bg.webp"
                    alt="avatar 3" style="width: 40px; height: 100%;">
                  <input type="text" class="form-control form-control-lg" id="exampleFormControlInput2"
                    placeholder="Type message">
                  <a class="ms-1 text-muted" href="#!"><i class="fas fa-paperclip"></i></a>
                  <a class="ms-3 text-muted" href="#!"><i class="fas fa-smile"></i></a>
                  <a class="ms-3" href="#!"><i class="fas fa-paper-plane"></i></a>
                </div>

              </div>
            </div>

          </div>
        </div>

      </div>
    </div>

  </div>
</section>
      </section>
    </div>
  </div>
</div>
