.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
}

.icon_cart_alt {
  font-size: 48px;
}
.action-wrapper{
  width: 30px;
  height: 30px;
  display: inline-block;
  background-color: rgba(var(--secondary-color-rgb), 0.1);
  text-align: center;
  line-height: 33px;
  border-radius: 50%;
  margin: 0 10px;
  cursor: pointer;
}

.action-wrapper:hover{
  background-color: rgba(212, 193, 236, 1);
  color: #000000;
}

.sr-wrapper{
  padding: 4px 7px;
  border-radius: 10px;
}

.image-wrapper {
  position: relative;
  display: inline-block;
}

.image-wrapper:hover img {
  transform: scale(3);
}

.image-wrapper img {
  transition: transform 0.2s;
  max-width: 100%;
  height: auto;
}
a{
  color : #000000;
}
a:hover {
  color: purple;
}
