<footer class="footer-light">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-6">
        <div class="widget">
          <h5>School Supplies</h5>
          <ul>
            <li><a [routerLink]="['/products']">All School supplies</a></li>
            <li><a [routerLink]="['/addProduct']">Add products</a></li>
            <li><a [routerLink]="['/donation']">Donate</a></li>
            <li><a [routerLink]="['/createRequest']">Add Donation</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-6">
        <div class="widget">
          <h5>Share Knowledge</h5>
          <ul>
            <li><a [routerLink]="['/community']">Community</a></li>
            <li><a [routerLink]="['/knowledge']">Knowledge</a></li>
            <li><a [routerLink]="['/community']">Add Blog</a></li>
            <li><a [routerLink]="['ScheduleMeeting']">Program meeting</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-6">
        <app-claims></app-claims>
      </div>
    </div>
  </div>
  <div class="subfooter">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="d-flex flex-wrap justify-content-between align-items-center">
            <div class="logo">
              <a href="../../../../index.html">
                <img class="f-logo" src="../../../../assets/client/images/logo.svg" alt="" style="width: 100px">
              </a>
            </div>
            <div class="copy">
              <span>© 2023 - ReSupply by NextHope</span>
            </div>
            <div class="social-icons">
              <a href="https://www.facebook.com/profile.php?id=100092271347888"><i class="fa fa-facebook fa-lg"></i></a>
              <a href="https://www.instagram.com/_resupply__/"><i class="fa fa-instagram fa-lg"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
