<footer class="footer-light">
  <div class="container" style="background-size: cover;">
    <div class="row" style="background-size: cover;">
      <div class="col-md-3 col-sm-6 col-xs-1" style="background-size: cover;">
        <div class="widget" style="background-size: cover;">
          <h5>School Supplies</h5>
          <ul>
            <li><a href="#">All School supplies</a></li>
            <li><a href="#">New products</a></li>
            <li><a href="#">Top products</a></li>
            <li><a href="#">Categories products</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-1" style="background-size: cover;">
        <div class="widget" style="background-size: cover;">
          <h5>Take action</h5>
          <ul>
            <li><a href="#">Donate</a></li>
            <li><a href="#">Give Monthly</a></li>
            <li><a href="#">Contact Associations</a></li>
            <li><a href="#">Volunteers</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-1" style="background-size: cover;">
        <div class="widget" style="background-size: cover;">
          <h5>Share Knowledge</h5>
          <ul>
            <li><a href="#">Community</a></li>
            <li><a href="#">Meet people</a></li>
            <li><a href="#">Ask experts</a></li>
            <li><a href="#">Forum</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-1" style="background-size: cover;">
        <app-claims></app-claims>
      </div>
    </div>
  </div>
  <div class="subfooter" style="background-size: cover;">
    <div class="container" style="background-size: cover;">
      <div class="row" style="background-size: cover;">
        <div class="col-md-12" style="background-size: cover;">
          <div class="de-flex" style="background-size: cover;">
            <div class="de-flex-col" style="background-size: cover;">
              <a href="../../../../index.html">
                <img style="width: 100px" alt="" class="f-logo" src="../../../../assets/client/images/logo.svg"><span class="copy">© Copyright 2023 - ReSupply by NextHope</span>
              </a>
            </div>
            <div class="de-flex-col" style="background-size: cover;">
              <div class="social-icons" style="background-size: cover;">
                <a href="#"><i class="fa fa-facebook fa-lg"></i></a>
                <a href="#"><i class="fa fa-instagram fa-lg"></i></a>
                <a href="#"><i class="fa fa-twitter fa-lg"></i></a>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
