<footer class="footer-light">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-6">
        <div class="widget">
          <h5>School Supplies</h5>
          <ul>
            <li><a href="#">All School supplies</a></li>
            <li><a href="#">New products</a></li>
            <li><a href="#">Top products</a></li>
            <li><a href="#">Categories products</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-6">
        <div class="widget">
          <h5>Take action</h5>
          <ul>
            <li><a href="#">Donate</a></li>
            <li><a href="#">Give Monthly</a></li>
            <li><a href="#">Contact Associations</a></li>
            <li><a href="#">Volunteers</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-6">
        <div class="widget">
          <h5>Share Knowledge</h5>
          <ul>
            <li><a href="#">Community</a></li>
            <li><a href="#">Meet people</a></li>
            <li><a href="#">Ask experts</a></li>
            <li><a href="#">Forum</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-6">
        <app-claims></app-claims>
      </div>
    </div>
  </div>
  <div class="subfooter">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="d-flex flex-wrap justify-content-between align-items-center">
            <div class="logo">
              <a href="../../../../index.html">
                <img class="f-logo" src="../../../../assets/client/images/logo.svg" alt="" style="width: 100px">
              </a>
            </div>
            <div class="copy">
              <span>© 2023 - ReSupply by NextHope</span>
            </div>
            <div class="social-icons">
              <a href="https://www.facebook.com/profile.php?id=100092271347888"><i class="fa fa-facebook fa-lg"></i></a>
              <a href="https://www.instagram.com/_resupply__/"><i class="fa fa-instagram fa-lg"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
