<div id="wrapper">
<div class="no-bottom no-top" id="content">
<div class="header-section" style="margin-bottom: 0;">
    <div class="container">
      <div class="row align-items-center" style="background-size: cover;">
        <div class="col-md-6" style="background-size: cover;">
          <div class="spacer-single" style="background-size: cover;"></div>
          <h6 class="wow fadeInUp animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;"><span class="text-uppercase id-color-2">ReSupply</span></h6>
          <div class="spacer-10" style="background-size: cover;"></div>
          <h1 class="wow fadeInUp animated" data-wow-delay=".75s" style="visibility: visible; animation-delay: 0.75s; animation-name: fadeInUp;">Explore our Community</h1>
          <p class="wow fadeInUp lead animated" data-wow-delay="1s" style="visibility: visible; animation-delay: 1s; animation-name: fadeInUp;">
           Interaction and sharing of information through blogging can help African students by providing them with a platform to connect, exchange ideas and learn from each other. This can contribute to their personal growth, academic success, and professional development.</p>
          <div class="spacer-10" style="background-size: cover;"></div>
          <div class="mb-sm-30" style="background-size: cover;"></div>
        </div>
        <div class="col-md-6 xs-hide" style="background-size: cover;">
          <img src="../../../../assets/client/images/create-a-blog-on-blogspot.jpg" class="lazy img-fluid wow fadeIn animated" data-wow-delay="1.25s" alt="" style="visibility: visible; animation-delay: 1.25s; animation-name: fadeIn; border-radius: 10px; border: 1px solid #ccc;">
        </div>
      </div>
      <hr>
    </div>
  </div>
   <section aria-label="section" style="padding-top: 0;">
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="position-relative">
      <div style="position: absolute; top: 20px; right: 10%">
        <div class="add-blog-wrapper" (click)="showMaximizableDialog()">
          <button class="add-blog-button">Add Blog</button>
          <span class="add-blog-icon"
            ><i class="fas fa-plus" (click)="showMaximizableDialog()"></i
          ></span>
        </div>
      </div>
    </div>

    <div class="col-lg-8 col-md-6 col-sm-12">
      <div *ngFor="let blog of blogs; index as i">
        <div class="bg-white p-4 rounded shadow mt-3">
          <!-- author -->
          <div class="d-flex justify-content-between">
            <!-- avatar -->
            <div class="d-flex">
              <img
                [src]="blog.owner.images"
                alt="avatar"
                class="rounded-circle me-2"
                style="width: 38px; height: 38px; object-fit: cover"
              />
              <div>
                <p class="m-0 fw-bold">
                  {{ blog.owner.firstName }} {{ blog.owner.lastName }}
                </p>
                <span class="text-muted fs-7">{{
                  blog.createdAt | date : "M/d/yy, h:mm a"
                }}</span>
              </div>
            </div>
            <!-- edit -->
          </div>
          <!-- post content -->
          <div class="mt-3">
            <!-- content -->
            <div>
              <p [innerHTML]="blog.description"></p>

              <p-galleria
                [value]="blog.images"
                [responsiveOptions]="responsiveOptions"
                [containerStyle]="{ 'max-width': '100%' }"
                [numVisible]="5"
                [circular]="true"
                [showItemNavigators]="true"
                [showThumbnails]="false"
              >
                <ng-template let-img pTemplate="item">
                  <img [src]="img" style="display: block; width: 100%" />
                </ng-template>
                <ng-template pTemplate="thumbnail" let-img>
                  <div class="grid grid-nogutter justify-content-center">
                    <img [src]="img" style="display: block; width: 100%" />
                  </div>
                </ng-template>
              </p-galleria>

              <!-- likes & comments -->
              <div class="post__comment mt-3 position-relative">
                <!-- likes -->
                <div
                  class="d-flex align-items-center top-0 start-0 position-absolute"
                  style="height: 50px; z-index: 5"
                >
                  <div class="me-2">
                    <i class="text-primary fas fa-thumbs-up"></i>
                    <i class="text-danger fab fa-gratipay"></i>
                    <i class="text-warning fas fa-grin-squint"></i>
                  </div>
                  <p class="m-0 text-muted fs-7">Phu, Tuan, and 3 others</p>
                </div>
                <!-- comments start-->
                <div class="accordion" id="accordionExample">
                  <div class="accordion-item border-0">
                    <!-- comment collapse -->
                    <h2 class="accordion-header" id="headingTwo">
                      <div
                        class="accordion-button collapsed pointer d-flex justify-content-end"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapsePost1"
                        aria-expanded="false"
                        aria-controls="collapsePost1"
                      >
                        <p class="m-0">2 Comments</p>
                      </div>
                    </h2>
                    <hr />
                    <!-- comment & like bar -->
                    <div class="d-flex justify-content-around">
                      <div
                        class="dropdown-item rounded d-flex justify-content-center align-items-center pointer text-muted p-1"
                      >
                        <i class="fas fa-thumbs-up me-3"></i>
                        <p class="m-0">Like</p>
                      </div>
                      <div
                        class="dropdown-item rounded d-flex justify-content-center align-items-center pointer text-muted p-1"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapsePost1"
                        aria-expanded="false"
                        aria-controls="collapsePost1"
                      >
                        <i
                          class="fas fa-comment-alt me-3"
                          (click)="getCommentsByArticle(blog._id)"
                        ></i>
                        <p class="m-0" (click)="getCommentsByArticle(blog._id)">
                          Comment
                        </p>
                      </div>
                    </div>
                    <!-- comment expand -->
                    <div
                      id="collapsePost1"
                      class="accordion-collapse collapse"
                      aria-labelledby="headingTwo"
                      data-bs-parent="#accordionExample"
                    >
                      <hr />
                      <div class="accordion-body">
                        <!-- comment 1 -->
                        <div
                          class="d-flex align-items-center my-1"
                          *ngFor="let comment of blog['comments']; index as j"
                        >
                          <!-- avatar -->
                          <img
                            [src]="comment.commenterId.images"
                            alt="avatar"
                            class="rounded-circle me-2"
                            style="width: 38px; height: 38px; object-fit: cover"
                          />
                          <!-- comment text -->
                          <div class="p-3 rounded comment__input w-100">
                            <!-- comment menu of author -->
                            <div class="d-flex justify-content-end">
                              <!-- icon -->
                              <i
                                class="fas fa-ellipsis-h text-blue pointer"
                                id="post1CommentMenuButton"
                                data-bs-toggle="dropdown"
                                aria-expanded="false"
                              ></i>
                              <!-- menu -->
                              <ul
                                class="dropdown-menu border-0 shadow"
                                aria-labelledby="post1CommentMenuButton"
                              >
                                <li class="d-flex align-items-center">
                                  <a
                                    *ngIf="
                                      connectedUser._id ===
                                      comment.commenterId._id
                                    "
                                    (click)="
                                      getData(comment.content, comment._id)
                                    "
                                    class="dropdown-item d-flex justify-content-around align-items-center fs-7"
                                  >
                                    Edit Comment
                                  </a>
                                  <a
                                    *ngIf="
                                      connectedUser._id !==
                                      comment.commenterId._id
                                    "
                                    class="dropdown-item d-flex justify-content-around align-items-center fs-7 disabled"
                                  >
                                    Edit Comment
                                  </a>
                                </li>

                                <li class="d-flex align-items-center">
                                  <a
                                    *ngIf="
                                      connectedUser._id ===
                                      comment.commenterId._id
                                    "
                                    (click)="deleteComment(comment._id,j)"
                                    class="dropdown-item d-flex justify-content-around align-items-center fs-7"
                                  >
                                    Delete Comment
                                  </a>
                                  <a
                                    *ngIf="
                                      connectedUser._id !==
                                      comment.commenterId._id
                                    "
                                    class="dropdown-item d-flex justify-content-around align-items-center fs-7 disabled"
                                  >
                                    Delete Comment
                                  </a>
                                </li>
                              </ul>
                            </div>
                            <p class="fw-bold m-0">
                              {{ comment.commenterId.firstName }}
                              {{ comment.commenterId.lastName }}
                            </p>
                            <p class="m-0 fs-7 bg-gray p-2 rounded">
                              {{ comment.content }}
                            </p>
                          </div>
                        </div>
                        <!-- create comment -->
                        <form

                          *ngIf="!isEditMode"
                          class="d-flex my-1 position-relative"
                          [formGroup]="commentsForm"
                          (ngSubmit)="addComment(blog._id, connectedUser._id)"
                        >
                          <!-- avatar -->
                          <div>
                            <img
                              [src]="connectedUser.images"
                              alt="avatar"
                              class="rounded-circle me-2"
                              style="
                                width: 38px;
                                height: 38px;
                                object-fit: cover;
                              "
                            />
                          </div>
                          <!-- input -->
                          <input
                            type="text"
                            class="form-control border-0 rounded-pill bg-gray w-75"
                            placeholder="Write a comment"
                            formControlName="content"
                          />
                          <i
                            type="submit"
                            class="pi pi-send"
                            style="
                              font-size: 25px;
                              color: purple;
                              position: absolute;
                              right: 18%;
                              top: 9px;
                            "
                            (click)="addComment(blog._id, connectedUser._id)"
                          ></i>
                        </form>

                        <form

                          *ngIf="isEditMode"
                          class="d-flex my-1 position-relative"
                          [formGroup]="updateCommentsForm"
                          (ngSubmit)="
                            onEditComment()
                          "
                        >
                          <!-- avatar -->
                          <div>
                            <img
                              [src]="connectedUser.images"
                              alt="avatar"
                              class="rounded-circle me-2"
                              style="
                                width: 38px;
                                height: 38px;
                                object-fit: cover;
                              "
                            />
                          </div>
                          <!-- input -->
                          <input
                            type="text"
                            class="form-control border-0 rounded-pill bg-gray w-75"
                            placeholder="Write a comment"
                            formControlName="content"
                          />
                          <i
                            type="submit"
                            class="pi pi-send"
                            style="
                              font-size: 25px;
                              color: purple;
                              position: absolute;
                              right: 18%;
                              top: 9px;
                            "
                            (click)="onEditComment()"
                          ></i>
                        </form>

                        <!-- end -->
                      </div>
                    </div>
                  </div>
                </div>
                <!-- end -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <p-dialog
    class="myMax-dialog"
    header="Article"
    [(visible)]="displayMaximizable"
    [modal]="true"
    [style]="{ width: '50vw' }"
    [maximizable]="true"
    [draggable]="true"
    [resizable]="true"
  >
    <form [formGroup]="blogForm" (ngSubmit)="onSubmit()">
      <p id="article-thoughts">
        Share your thoughts, ideas, and experiences with the world. Be sure to
        read our <a href="#">Community Guidelines</a> before posting.
      </p>
      <span
        class="p-float-label custom-input"
        style="margin: 20px 20px; margin-left: 0"
      >
        <input
          id="float-input"
          type="text"
          pInputText
          formControlName="title"
        />
        <label for="float-input">Title</label>
      </span>

      <div class="container position-relative">
        <label for="file-upload" class="custom-file-upload">Select Files</label>
        <input
          type="file"
          name="images"
          id="file-upload"
          [multiple]="true"
          (change)="selectMultipleImage($event)"
          style="display: none"
        />
        <div id="selected-files-list">
          <span id="selected-files-msg">Selected Images:</span>
          <span id="selected-files-count">{{ targetCount || 0 }}</span>
        </div>
      </div>

      <p-editor
        formControlName="description"
        [style]="{ height: '480px' }"
        rejectButtonStyleClass="p-button-text"
      ></p-editor>
    </form>

    <ng-template pTemplate="footer">
      <p-button
        (click)="confirm2(); displayMaximizable = false"
        icon="pi pi-times"
        label="Cancel"
      ></p-button>
      <p-button
        (click)="confirm1(); displayMaximizable = false"
        icon="pi pi-check"
        label="Create"
        styleClass="mr-2"
      ></p-button>
    </ng-template>
  </p-dialog>
</div>
</section>
</div>
</div>
