<div class="no-bottom no-top" id="content" style="background-size: cover;">
  <div id="top" style="background-size: cover;"></div>

  <!-- section begin -->
  <section id="profile_banner" aria-label="section" class="text-light" data-bgimage="url(assets/client/images/author_single/author_banner.jpg) top" style="background: url('assets/client/images/author_single/author_banner.jpg') center top / cover;">

  </section>
  <!-- section close -->

  <section aria-label="section" style="background-size: cover;">
    <div class="container" style="background-size: cover;">
      <div class="row" style="background-size: cover;">
        <div class="col-md-12" style="background-size: cover;">
          <div class="d_profile de-flex" style="background-size: cover;">
            <div class="de-flex-col" style="background-size: cover;">
              <div class="profile_avatar" style="background-size: cover;">
                <img src="assets/client/images/author_single/author_thumbnail.jpg" alt="">
                <i class="fa fa-check"></i>
                <div class="profile_name" style="background-size: cover;">
                  <h4>
                    Monica Lucas
                    <span class="profile_username">@monicaaa</span>
                    <span id="wallet" class="profile_wallet">DdzFFzCqrhshMSxb9oW3mRo4MJrQkusV3fGFSTwaiu4wPBqMryA9DYVJCkW9n7twCffG5f5wX2sSkoDXGiZB1HPa7K7f865Kk4LqnrME</span>
                    <button id="btn_copy" title="Copy Text">Copy</button>
                  </h4>
                </div>
              </div>
            </div>
            <div class="profile_follow de-flex" style="background-size: cover;">
              <div class="de-flex-col" style="background-size: cover;">
                <div class="profile_follower" style="background-size: cover;">500 followers</div>
              </div>
              <div class="de-flex-col" style="background-size: cover;">
                <a href="#" class="btn-main">Follow</a>
              </div>
            </div>

          </div>
        </div>

        <div class="col-md-12" style="background-size: cover;">
          <div class="de_tab tab_simple" style="background-size: cover;">

            <ul class="de_nav">
              <li class="active"><span>On Sale</span></li>
              <li><span>Created</span></li>
              <li><span>Liked</span></li>
            </ul>

            <div class="de_tab_content" style="background-size: cover;">

              <div class="tab-1" style="background-size: cover;">
                <div class="row" style="background-size: cover;">
                  <!-- nft item begin -->
                  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12" style="background-size: cover;">
                    <div class="nft__item" style="background-size: cover;">
                      <div class="de_countdown is-countdown" data-year="2023" data-month="3" data-day="16" data-hour="8" style="background-size: cover;"><span class="countdown-row countdown-show4"><span class="countdown-section"><span class="countdown-amount">8d</span></span><span class="countdown-section"><span class="countdown-amount">12h</span></span><span class="countdown-section"><span class="countdown-amount">0m</span></span><span class="countdown-section"><span class="countdown-amount">2s</span></span></span></div>
                      <div class="author_list_pp" style="background-size: cover;">
                        <a href="author.html">
                          <img class="lazy" src="assets/client/images/author/author-1.jpg" alt="">
                          <i class="fa fa-check"></i>
                        </a>
                      </div>
                      <div class="nft__item_wrap" style="background-size: cover; height: 264.4px;">
                        <div class="nft__item_extra" style="background-size: cover;">
                          <div class="nft__item_buttons" style="background-size: cover;">
                            <button onclick="location.href='item-details.html'">Buy Now</button>
                            <div class="nft__item_share" style="background-size: cover;">
                              <h4>Share</h4>
                              <a href="https://www.facebook.com/sharer/sharer.php?u=https://madebydesignesia.com/themes" target="_blank"><i class="fa fa-facebook fa-lg"></i></a>
                              <a href="https://twitter.com/intent/tweet?url=https://madebydesignesia.com/themes" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
                              <a href="mailto:?subject=I wanted you to see this site&amp;body=Check out this site https://madebydesignesia.com/themes"><i class="fa fa-envelope fa-lg"></i></a>
                            </div>
                          </div>
                        </div>
                        <a href="item-details.html">
                          <img src="assets/client/images/author_single/porto-1.jpg" class="lazy nft__item_preview" alt="" style="display: inline;">
                        </a>
                      </div>
                      <div class="nft__item_info" style="background-size: cover;">
                        <a href="item-details.html">
                          <h4>Pinky Ocean</h4>
                        </a>
                        <div class="nft__item_click" style="background-size: cover;">
                          <span></span>
                        </div>
                        <div class="nft__item_price" style="background-size: cover;">
                          0.08 ETH<span>1/20</span>
                        </div>
                        <div class="nft__item_action" style="background-size: cover;">
                          <a href="#">Place a bid</a>
                        </div>
                        <div class="nft__item_like" style="background-size: cover;">
                          <i class="fa fa-heart"></i><span>50</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- nft item begin -->
                  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12" style="background-size: cover;">
                    <div class="nft__item" style="background-size: cover;">
                      <div class="author_list_pp" style="background-size: cover;">
                        <a href="author.html">
                          <img class="lazy" src="assets/client/images/author/author-1.jpg" alt="">
                          <i class="fa fa-check"></i>
                        </a>
                      </div>
                      <div class="nft__item_wrap" style="background-size: cover; height: 264.4px;">
                        <div class="nft__item_extra" style="background-size: cover; visibility: hidden; opacity: 0;">
                          <div class="nft__item_buttons" style="background-size: cover;">
                            <button onclick="location.href='item-details.html'">Buy Now</button>
                            <div class="nft__item_share" style="background-size: cover;">
                              <h4>Share</h4>
                              <a href="https://www.facebook.com/sharer/sharer.php?u=https://madebydesignesia.com/themes" target="_blank"><i class="fa fa-facebook fa-lg"></i></a>
                              <a href="https://twitter.com/intent/tweet?url=https://madebydesignesia.com/themes" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
                              <a href="mailto:?subject=I wanted you to see this site&amp;body=Check out this site https://madebydesignesia.com/themes"><i class="fa fa-envelope fa-lg"></i></a>
                            </div>
                          </div>
                        </div>
                        <a href="item-details.html">
                          <img src="assets/client/images/author_single/porto-2.jpg" class="lazy nft__item_preview" alt="" style="display: inline;">
                        </a>
                      </div>
                      <div class="nft__item_info" style="background-size: cover;">
                        <a href="item-details.html">
                          <h4>The Animals</h4>
                        </a>
                        <div class="nft__item_click" style="background-size: cover;">
                          <span></span>
                        </div>
                        <div class="nft__item_price" style="background-size: cover;">
                          0.06 ETH<span>1/22</span>
                        </div>
                        <div class="nft__item_action" style="background-size: cover;">
                          <a href="#">Place a bid</a>
                        </div>
                        <div class="nft__item_like" style="background-size: cover;">
                          <i class="fa fa-heart"></i><span>80</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- nft item begin -->
                  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12" style="background-size: cover;">
                    <div class="nft__item" style="background-size: cover;">
                      <div class="de_countdown is-countdown" data-year="2023" data-month="3" data-day="14" data-hour="8" style="background-size: cover;"><span class="countdown-row countdown-show4"><span class="countdown-section"><span class="countdown-amount">6d</span></span><span class="countdown-section"><span class="countdown-amount">12h</span></span><span class="countdown-section"><span class="countdown-amount">0m</span></span><span class="countdown-section"><span class="countdown-amount">2s</span></span></span></div>
                      <div class="author_list_pp" style="background-size: cover;">
                        <a href="author.html">
                          <img class="lazy" src="assets/client/images/author/author-1.jpg" alt="">
                          <i class="fa fa-check"></i>
                        </a>
                      </div>
                      <div class="nft__item_wrap" style="background-size: cover; height: 264.4px;">
                        <div class="nft__item_extra" style="background-size: cover; visibility: hidden; opacity: 0;">
                          <div class="nft__item_buttons" style="background-size: cover;">
                            <button onclick="location.href='item-details.html'">Buy Now</button>
                            <div class="nft__item_share" style="background-size: cover;">
                              <h4>Share</h4>
                              <a href="https://www.facebook.com/sharer/sharer.php?u=https://madebydesignesia.com/themes" target="_blank"><i class="fa fa-facebook fa-lg"></i></a>
                              <a href="https://twitter.com/intent/tweet?url=https://madebydesignesia.com/themes" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
                              <a href="mailto:?subject=I wanted you to see this site&amp;body=Check out this site https://madebydesignesia.com/themes"><i class="fa fa-envelope fa-lg"></i></a>
                            </div>
                          </div>
                        </div>
                        <a href="item-details.html" class="portrait">
                          <img src="assets/client/images/author_single/porto-3.jpg" class="lazy nft__item_preview portrait" alt="" style="display: inline;">
                        </a>
                      </div>
                      <div class="nft__item_info" style="background-size: cover;">
                        <a href="item-details.html">
                          <h4>Three Donuts</h4>
                        </a>
                        <div class="nft__item_click" style="background-size: cover;">
                          <span></span>
                        </div>
                        <div class="nft__item_price" style="background-size: cover;">
                          0.05 ETH<span>1/11</span>
                        </div>
                        <div class="nft__item_action" style="background-size: cover;">
                          <a href="#">Place a bid</a>
                        </div>
                        <div class="nft__item_like" style="background-size: cover;">
                          <i class="fa fa-heart"></i><span>97</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- nft item begin -->
                  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12" style="background-size: cover;">
                    <div class="nft__item" style="background-size: cover;">
                      <div class="author_list_pp" style="background-size: cover;">
                        <a href="author.html">
                          <img class="lazy" src="assets/client/images/author/author-1.jpg" alt="">
                          <i class="fa fa-check"></i>
                        </a>
                      </div>
                      <div class="nft__item_wrap" style="background-size: cover; height: 264.4px;">
                        <div class="nft__item_extra" style="background-size: cover; visibility: hidden; opacity: 0;">
                          <div class="nft__item_buttons" style="background-size: cover;">
                            <button onclick="location.href='item-details.html'">Buy Now</button>
                            <div class="nft__item_share" style="background-size: cover;">
                              <h4>Share</h4>
                              <a href="https://www.facebook.com/sharer/sharer.php?u=https://madebydesignesia.com/themes" target="_blank"><i class="fa fa-facebook fa-lg"></i></a>
                              <a href="https://twitter.com/intent/tweet?url=https://madebydesignesia.com/themes" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
                              <a href="mailto:?subject=I wanted you to see this site&amp;body=Check out this site https://madebydesignesia.com/themes"><i class="fa fa-envelope fa-lg"></i></a>
                            </div>
                          </div>
                        </div>
                        <a href="item-details.html">
                          <img src="assets/client/images/author_single/porto-4.jpg" class="lazy nft__item_preview" alt="" style="display: inline;">
                        </a>
                      </div>
                      <div class="nft__item_info" style="background-size: cover;">
                        <a href="item-details.html">
                          <h4>Graffiti Colors</h4>
                        </a>
                        <div class="nft__item_click" style="background-size: cover;">
                          <span></span>
                        </div>
                        <div class="nft__item_price" style="background-size: cover;">
                          0.02 ETH<span>1/15</span>
                        </div>
                        <div class="nft__item_action" style="background-size: cover;">
                          <a href="#">Place a bid</a>
                        </div>
                        <div class="nft__item_like" style="background-size: cover;">
                          <i class="fa fa-heart"></i><span>73</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="tab-2" style="background-size: cover; display: none;">
                <div class="row" style="background-size: cover;">

                  <!-- nft item begin -->
                  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12" style="background-size: cover;">
                    <div class="nft__item" style="background-size: cover;">
                      <div class="de_countdown is-countdown" data-year="2023" data-month="3" data-day="14" data-hour="8" style="background-size: cover;"><span class="countdown-row countdown-show4"><span class="countdown-section"><span class="countdown-amount">6d</span></span><span class="countdown-section"><span class="countdown-amount">12h</span></span><span class="countdown-section"><span class="countdown-amount">0m</span></span><span class="countdown-section"><span class="countdown-amount">2s</span></span></span></div>
                      <div class="author_list_pp" style="background-size: cover;">
                        <a href="author.html">
                          <img class="lazy" src="assets/client/images/author/author-1.jpg" alt="">
                          <i class="fa fa-check"></i>
                        </a>
                      </div>
                      <div class="nft__item_wrap" style="background-size: cover; height: 100%;">
                        <div class="nft__item_extra" style="background-size: cover;">
                          <div class="nft__item_buttons" style="background-size: cover;">
                            <button onclick="location.href='item-details.html'">Buy Now</button>
                            <div class="nft__item_share" style="background-size: cover;">
                              <h4>Share</h4>
                              <a href="https://www.facebook.com/sharer/sharer.php?u=https://madebydesignesia.com/themes" target="_blank"><i class="fa fa-facebook fa-lg"></i></a>
                              <a href="https://twitter.com/intent/tweet?url=https://madebydesignesia.com/themes" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
                              <a href="mailto:?subject=I wanted you to see this site&amp;body=Check out this site https://madebydesignesia.com/themes"><i class="fa fa-envelope fa-lg"></i></a>
                            </div>
                          </div>
                        </div>
                        <a href="item-details.html">
                          <img src="assets/client/images/author_single/porto-3.jpg" class="lazy nft__item_preview" alt="" style="display: inline;">
                        </a>
                      </div>
                      <div class="nft__item_info" style="background-size: cover;">
                        <a href="item-details.html">
                          <h4>Three Donuts</h4>
                        </a>
                        <div class="nft__item_click" style="background-size: cover;">
                          <span></span>
                        </div>
                        <div class="nft__item_price" style="background-size: cover;">
                          0.05 ETH<span>1/11</span>
                        </div>
                        <div class="nft__item_action" style="background-size: cover;">
                          <a href="#">Place a bid</a>
                        </div>
                        <div class="nft__item_like" style="background-size: cover;">
                          <i class="fa fa-heart"></i><span>97</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- nft item begin -->
                  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12" style="background-size: cover;">
                    <div class="nft__item" style="background-size: cover;">
                      <div class="de_countdown is-countdown" data-year="2023" data-month="3" data-day="16" data-hour="8" style="background-size: cover;"><span class="countdown-row countdown-show4"><span class="countdown-section"><span class="countdown-amount">8d</span></span><span class="countdown-section"><span class="countdown-amount">12h</span></span><span class="countdown-section"><span class="countdown-amount">0m</span></span><span class="countdown-section"><span class="countdown-amount">2s</span></span></span></div>
                      <div class="author_list_pp" style="background-size: cover;">
                        <a href="author.html">
                          <img class="lazy" src="assets/client/images/author/author-1.jpg" alt="">
                          <i class="fa fa-check"></i>
                        </a>
                      </div>
                      <div class="nft__item_wrap" style="background-size: cover; height: 100%;">
                        <div class="nft__item_extra" style="background-size: cover;">
                          <div class="nft__item_buttons" style="background-size: cover;">
                            <button onclick="location.href='item-details.html'">Buy Now</button>
                            <div class="nft__item_share" style="background-size: cover;">
                              <h4>Share</h4>
                              <a href="https://www.facebook.com/sharer/sharer.php?u=https://madebydesignesia.com/themes" target="_blank"><i class="fa fa-facebook fa-lg"></i></a>
                              <a href="https://twitter.com/intent/tweet?url=https://madebydesignesia.com/themes" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
                              <a href="mailto:?subject=I wanted you to see this site&amp;body=Check out this site https://madebydesignesia.com/themes"><i class="fa fa-envelope fa-lg"></i></a>
                            </div>
                          </div>
                        </div>
                        <a href="item-details.html">
                          <img src="assets/client/images/author_single/porto-1.jpg" class="lazy nft__item_preview" alt="" style="display: inline;">
                        </a>
                      </div>
                      <div class="nft__item_info" style="background-size: cover;">
                        <a href="item-details.html">
                          <h4>Pinky Ocean</h4>
                        </a>
                        <div class="nft__item_click" style="background-size: cover;">
                          <span></span>
                        </div>
                        <div class="nft__item_price" style="background-size: cover;">
                          0.08 ETH<span>1/20</span>
                        </div>
                        <div class="nft__item_action" style="background-size: cover;">
                          <a href="#">Place a bid</a>
                        </div>
                        <div class="nft__item_like" style="background-size: cover;">
                          <i class="fa fa-heart"></i><span>50</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- nft item begin -->
                  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12" style="background-size: cover;">
                    <div class="nft__item" style="background-size: cover;">
                      <div class="author_list_pp" style="background-size: cover;">
                        <a href="author.html">
                          <img class="lazy" src="assets/client/images/author/author-1.jpg" alt="">
                          <i class="fa fa-check"></i>
                        </a>
                      </div>
                      <div class="nft__item_wrap" style="background-size: cover; height: 100%;">
                        <div class="nft__item_extra" style="background-size: cover;">
                          <div class="nft__item_buttons" style="background-size: cover;">
                            <button onclick="location.href='item-details.html'">Buy Now</button>
                            <div class="nft__item_share" style="background-size: cover;">
                              <h4>Share</h4>
                              <a href="https://www.facebook.com/sharer/sharer.php?u=https://madebydesignesia.com/themes" target="_blank"><i class="fa fa-facebook fa-lg"></i></a>
                              <a href="https://twitter.com/intent/tweet?url=https://madebydesignesia.com/themes" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
                              <a href="mailto:?subject=I wanted you to see this site&amp;body=Check out this site https://madebydesignesia.com/themes"><i class="fa fa-envelope fa-lg"></i></a>
                            </div>
                          </div>
                        </div>
                        <a href="item-details.html">
                          <img src="assets/client/images/author_single/porto-2.jpg" class="lazy nft__item_preview" alt="" style="display: inline;">
                        </a>
                      </div>
                      <div class="nft__item_info" style="background-size: cover;">
                        <a href="item-details.html">
                          <h4>The Animals</h4>
                        </a>
                        <div class="nft__item_click" style="background-size: cover;">
                          <span></span>
                        </div>
                        <div class="nft__item_price" style="background-size: cover;">
                          0.06 ETH<span>1/22</span>
                        </div>
                        <div class="nft__item_action" style="background-size: cover;">
                          <a href="#">Place a bid</a>
                        </div>
                        <div class="nft__item_like" style="background-size: cover;">
                          <i class="fa fa-heart"></i><span>80</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- nft item begin -->
                  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12" style="background-size: cover;">
                    <div class="nft__item" style="background-size: cover;">
                      <div class="author_list_pp" style="background-size: cover;">
                        <a href="author.html">
                          <img class="lazy" src="assets/client/images/author/author-1.jpg" alt="">
                          <i class="fa fa-check"></i>
                        </a>
                      </div>
                      <div class="nft__item_wrap" style="background-size: cover; height: 100%;">
                        <div class="nft__item_extra" style="background-size: cover;">
                          <div class="nft__item_buttons" style="background-size: cover;">
                            <button onclick="location.href='item-details.html'">Buy Now</button>
                            <div class="nft__item_share" style="background-size: cover;">
                              <h4>Share</h4>
                              <a href="https://www.facebook.com/sharer/sharer.php?u=https://madebydesignesia.com/themes" target="_blank"><i class="fa fa-facebook fa-lg"></i></a>
                              <a href="https://twitter.com/intent/tweet?url=https://madebydesignesia.com/themes" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
                              <a href="mailto:?subject=I wanted you to see this site&amp;body=Check out this site https://madebydesignesia.com/themes"><i class="fa fa-envelope fa-lg"></i></a>
                            </div>
                          </div>
                        </div>
                        <a href="item-details.html">
                          <img src="assets/client/images/author_single/porto-4.jpg" class="lazy nft__item_preview" alt="" style="display: inline;">
                        </a>
                      </div>
                      <div class="nft__item_info" style="background-size: cover;">
                        <a href="item-details.html">
                          <h4>Graffiti Colors</h4>
                        </a>
                        <div class="nft__item_click" style="background-size: cover;">
                          <span></span>
                        </div>
                        <div class="nft__item_price" style="background-size: cover;">
                          0.02 ETH<span>1/15</span>
                        </div>
                        <div class="nft__item_action" style="background-size: cover;">
                          <a href="#">Place a bid</a>
                        </div>
                        <div class="nft__item_like" style="background-size: cover;">
                          <i class="fa fa-heart"></i><span>73</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="tab-3" style="background-size: cover; display: none;">
                <div class="row" style="background-size: cover;">
                  <!-- nft item begin -->
                  <div class="col-lg-3 col-md-6" style="background-size: cover;">
                    <div class="nft__item" style="background-size: cover;">
                      <div class="author_list_pp" style="background-size: cover;">
                        <a href="author.html">
                          <img class="lazy" src="assets/client/images/author/author-1.jpg" alt="">
                          <i class="fa fa-check"></i>
                        </a>
                      </div>
                      <div class="nft__item_wrap" style="background-size: cover; height: 100%;">
                        <a href="item-details.html">
                          <img src="assets/client/images/items/anim-4.webp" class="lazy nft__item_preview" alt="" style="display: inline;">
                        </a>
                      </div>
                      <div class="nft__item_info" style="background-size: cover;">
                        <a href="item-details.html">
                          <h4>The Truth</h4>
                        </a>
                        <div class="nft__item_click" style="background-size: cover;">
                          <span></span>
                        </div>
                        <div class="nft__item_price" style="background-size: cover;">
                          0.06 ETH<span>1/20</span>
                        </div>
                        <div class="nft__item_action" style="background-size: cover;">
                          <a href="#">Place a bid</a>
                        </div>
                        <div class="nft__item_like" style="background-size: cover;">
                          <i class="fa fa-heart"></i><span>26</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- nft item begin -->
                  <div class="col-lg-3 col-md-6" style="background-size: cover;">
                    <div class="nft__item" style="background-size: cover;">
                      <div class="de_countdown is-countdown" data-year="2023" data-month="3" data-day="6" data-hour="8" style="background-size: cover;"><span class="countdown-row countdown-show3"><span class="countdown-section"><span class="countdown-amount">0h</span></span><span class="countdown-section"><span class="countdown-amount">0m</span></span><span class="countdown-section"><span class="countdown-amount">0s</span></span></span></div>
                      <div class="author_list_pp" style="background-size: cover;">
                        <a href="author.html">
                          <img class="lazy" src="assets/client/images/author/author-2.jpg" alt="">
                          <i class="fa fa-check"></i>
                        </a>
                      </div>
                      <div class="nft__item_wrap" style="background-size: cover; height: 100%;">
                        <a href="item-details.html">
                          <img src="assets/client/images/items/anim-2.webp" class="lazy nft__item_preview" alt="" style="display: inline;">
                        </a>
                      </div>
                      <div class="nft__item_info" style="background-size: cover;">
                        <a href="item-details.html">
                          <h4>Running Puppets</h4>
                        </a>
                        <div class="nft__item_click" style="background-size: cover;">
                          <span></span>
                        </div>
                        <div class="nft__item_price" style="background-size: cover;">
                          0.03 ETH<span>1/24</span>
                        </div>
                        <div class="nft__item_action" style="background-size: cover;">
                          <a href="#">Place a bid</a>
                        </div>
                        <div class="nft__item_like" style="background-size: cover;">
                          <i class="fa fa-heart"></i><span>45</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- nft item begin -->
                  <div class="col-lg-3 col-md-6" style="background-size: cover;">
                    <div class="nft__item" style="background-size: cover;">
                      <div class="author_list_pp" style="background-size: cover;">
                        <a href="author.html">
                          <img class="lazy" src="assets/client/images/author/author-3.jpg" alt="">
                          <i class="fa fa-check"></i>
                        </a>
                      </div>
                      <div class="nft__item_wrap" style="background-size: cover; height: 100%;">
                        <a href="item-details.html">
                          <img src="assets/client/images/items/anim-1.webp" class="lazy nft__item_preview" alt="" style="display: inline;">
                        </a>
                      </div>
                      <div class="nft__item_info" style="background-size: cover;">
                        <a href="item-details.html">
                          <h4>USA Wordmation</h4>
                        </a>
                        <div class="nft__item_click" style="background-size: cover;">
                          <span></span>
                        </div>
                        <div class="nft__item_price" style="background-size: cover;">
                          0.09 ETH<span>1/25</span>
                        </div>
                        <div class="nft__item_action" style="background-size: cover;">
                          <a href="#">Place a bid</a>
                        </div>
                        <div class="nft__item_like" style="background-size: cover;">
                          <i class="fa fa-heart"></i><span>76</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- nft item begin -->
                  <div class="col-lg-3 col-md-6" style="background-size: cover;">
                    <div class="nft__item" style="background-size: cover;">
                      <div class="de_countdown is-countdown" data-year="2023" data-month="3" data-day="8" data-hour="8" style="background-size: cover;"><span class="countdown-row countdown-show3"><span class="countdown-section"><span class="countdown-amount">12h</span></span><span class="countdown-section"><span class="countdown-amount">0m</span></span><span class="countdown-section"><span class="countdown-amount">2s</span></span></span></div>
                      <div class="author_list_pp" style="background-size: cover;">
                        <a href="author.html">
                          <img class="lazy" src="assets/client/images/author/author-4.jpg" alt="">
                          <i class="fa fa-check"></i>
                        </a>
                      </div>
                      <div class="nft__item_wrap" style="background-size: cover; height: 100%;">
                        <a href="item-details.html">
                          <img src="assets/client/images/items/anim-5.webp" class="lazy nft__item_preview" alt="" style="display: inline;">
                        </a>
                      </div>
                      <div class="nft__item_info" style="background-size: cover;">
                        <a href="item-details.html">
                          <h4>Loop Donut</h4>
                        </a>
                        <div class="nft__item_click" style="background-size: cover;">
                          <span></span>
                        </div>
                        <div class="nft__item_price" style="background-size: cover;">
                          0.09 ETH<span>1/14</span>
                        </div>
                        <div class="nft__item_action" style="background-size: cover;">
                          <a href="#">Place a bid</a>
                        </div>
                        <div class="nft__item_like" style="background-size: cover;">
                          <i class="fa fa-heart"></i><span>94</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </section>


</div>
<a href="#" id="back-to-top" class="show hide"></a>
