<div class="no-bottom no-top" id="content" style="background-size: cover">
  <div id="top" style="background-size: cover"></div>

  <!-- section begin -->
  <section
    id="subheader"
    class="text-light"
    data-bgimage="url(assets/client/images/background/subheader.jpg) top"
    style="
      background: url('../../../../assets/client/images/background/subheader.jpg')
        center top / cover;
    "
  >
    <div class="center-y relative text-center" style="background-size: cover">
      <div class="container" style="background-size: cover">
        <div class="row" style="background-size: cover">
          <div class="col-md-12 text-center" style="background-size: cover">
            <h1>Add your Product</h1>
          </div>
          <div class="clearfix" style="background-size: cover"></div>
        </div>
      </div>
    </div>
  </section>
  <!-- section close -->

  <!-- section begin -->
  <section aria-label="section">
    <div class="container">
      <div class="row wow fadeIn">
        <div class="col-lg-7 offset-lg-1">
          <form [formGroup]="addProductForm" (ngSubmit)="onSubmit()">
            <div class="field-set">

              <div class="spacer-20"></div>
              <h5>Title</h5>
              <div>
              <input
                type="text"
                formControlName="name"
                class="form-control"
                placeholder="e.g. 'Crypto Funk'"
                id="name"
                [ngModel]="name.value"
                [ngClass]="{
                        'input-invalid':
                          name.invalid &&
                          (name.dirty || name.touched),
                        'input-valid':
                          name.valid && (name.dirty || name.touched)
                      }"

              />
                <div
                  class="message-invalid"
                  *ngIf="name.touched && name.hasError('required')"
                >
                  Product name is required!
                </div>
                <div
                  class="message-invalid"
                  *ngIf="
                        name.touched && name.hasError('invalidData')
                      "
                >
                  Product name must contains only letters!
                </div>
                <!--success message-->
                <div
                  class="message-valid"
                  *ngIf="name.touched && !name.errors"
                >
                  Valid!
                </div>
              </div>
              <div class="spacer-20"></div>

              <h5>Description</h5>
              <div>
              <textarea
                data-autoresize
                formControlName="description"
                class="form-control"
                placeholder="e.g. 'This is very limited item'"
                id="description"
                [ngClass]="{
                        'input-invalid':
                          description.invalid &&
                          (description.dirty || description.touched),
                        'input-valid':
                          description.valid && (description.dirty || description.touched)
                      }"
              ></textarea>
                <div
                  class="message-invalid"
                  *ngIf="description.touched && description.hasError('required')"
                >
                  Description of the product is required!
                </div>
                <!--success message-->
                <div
                  class="message-valid"
                  *ngIf="description.touched && !description.errors"
                >
                  Valid!
                </div>
              </div>
              <div class="spacer-20"></div>

              <h5>Price</h5>
              <div>
              <input
                type="text"
                formControlName="price"
                class="form-control"
                placeholder="Select your price"
                id="price"
                [ngModel]="price.value"
                [ngClass]="{
                        'input-invalid':
                          price.invalid &&
                          (price.dirty || price.touched),
                        'input-valid':
                          price.valid && (price.dirty || price.touched)
                      }"
              />
                <div
                  class="message-invalid"
                  *ngIf="price.touched && price.hasError('required')"
                >
                  Product price is required!
                </div>
                <div
                  class="message-invalid"
                  *ngIf="
                        price.touched && price.hasError('invalidData')
                      "
                >
                  Product price must contains only numbers!
                </div>
                <!--success message-->
                <div
                  class="message-valid"
                  *ngIf="price.touched && !price.errors"
                >
                  Valid!
                </div>
              </div>
              <div class="spacer-single"></div>

              <h5>Upload image</h5>

              <div class="col-md-6" style="background-size: cover">
                <div class="field-set" style="background-size: cover">
                  <input type="file"
                         name="images"
                         id="images"
                         class="form-control"
                         (change)="onImageSelected($event)"
                         formControlName="images"
                  />
                  <div
                    class="message-invalid"
                    *ngIf="images.dirty && images.hasError('required')"
                  >
                    Image is required!
                  </div>
                  <!--success message-->
                  <div
                    class="message-valid"
                    *ngIf="images.touched && !images.errors"
                  >
                    Valid!
                  </div>
                </div>
              </div>
              <div class="spacer-single"></div>
              <div
                id="submit"
                class="pull-left"
                style="background-size: cover"
              >
                <input
                  type="submit"
                  id="send_message"
                  value="Add Product"
                  class="btn btn-main color-2 ripple-surface"
                  [disabled]="addProductForm.invalid"
                />
              </div>
              <div class="spacer-single"></div>
            </div>
          </form>
        </div>

        <div class="col-lg-3 col-sm-6 col-xs-12">
          <h5>Preview item</h5>
          <div class="nft__item">
            <div class="author_list_pp">
              <a href="#">
                <img
                  class="lazy"
                  [src]="userImageUrl"
                  alt=""
                />
                <i class="fa fa-check"></i>
              </a>
            </div>
            <div class="nft__item_wrap">
              <a href="#">
                <img alt="" class="lazy nft__item_preview" src="../../../../assets/client/images/logo.svg">
              </a>
            </div>
            <div class="nft__item_info">
              <a href="#">
                <h4>              <div class="nft__item_price">
                  <ng-container *ngIf="name.value == ''; else dynamicName">
                    {{'Product name'}}
                  </ng-container>
                  <ng-template #dynamicName>
                    {{name.value}}
                  </ng-template>
                </div></h4>
              </a>
              <div class="nft__item_price">
                <ng-container *ngIf="price.value == ''; else dynamicPrice">
                  {{'Ex:  $23.00'}}
                </ng-container>
                <ng-template #dynamicPrice>
                  {{price.value | currency}}
                </ng-template>
              </div>
              <div class="nft__item_action">
                <a href="#">Add to cart</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<!-- content close -->
