<section aria-label="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table de-table table-rank">
            <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Status</th>
              <th scope="col">Blog Title</th>
              <th scope="col">Blog Owner Name</th>
              <th scope="col">Posted at</th>
              <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody *ngFor="let blog of blogs| paginate: { itemsPerPage: 3, currentPage: currentPage }; index as i">
            <tr>
              <td scope="row">
                <div class="coll_list_pp">
                  <div class="image-wrapper">
                    <img class="lazy img-fluid rounded" [src]="blog.images[0]" alt="">
                  </div>
                </div>
              </td>
              <td>
                <span *ngIf="!blog.isApproved" style="background-color:#ffe6e6">Not Approved</span>
                <span *ngIf="blog.isApproved" style="background-color:#e6ffed">Approved</span>
              </td>
              <td class="">{{ blog.title}}</td>
              <td class="">{{ blog.owner.lastName}} {{ blog.owner.firstName}}</td>
              <td>{{blog.createdAt | date}}</td>
              <td class="d-flex">
                <div class="action-wrapper">
                  <a *ngIf="!blog.isApproved" (click)="acceptBlog(blog._id)"><span aria-hidden="true" class="icon_check_alt2"></span></a>
                </div>
                <div class="action-wrapper">
                  <a (click)="deleteBlog(blog._id)"><span aria-hidden="true" class="icon_trash_alt"></span></a>
                </div>
              </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
              <td colspan="6">
                <div class="d-flex justify-content-center">
                  <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
                </div>
              </td>
            </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
