:host ::ng-deep .p-button {
  margin: 0 .5rem 0 0;
  min-width: 10rem;
}

p {
  margin: 0;
}

.confirmation-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

:host ::ng-deep .p-dialog .p-button {
  min-width: 6rem;
}


.add-blog-wrapper {
  display: inline-flex;
  align-items: center;

  .add-blog-button {
    background-color: purple;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
  }

  .add-blog-icon {
    background-color: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: -10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;

    i {
      color: purple;
      font-size: 18px;
      cursor: pointer;
    }
  }
}
