<div class="container-fluid">
  <div class="row justify-content-center">

    <div class="position-relative">
  <div style="position: absolute; top: 20px; right: 13%">
    <div class="add-blog-wrapper" (click)="showMaximizableDialog()">
      <button class="add-blog-button">Add Blog</button>
      <span class="add-blog-icon"
        ><i class="fas fa-plus fa-plus" (click)="showMaximizableDialog()"></i
      ></span>
    </div>
  </div>
</div>


    <div class="col-lg-7 col-md-6 col-sm-12">
      <div *ngFor="let blog of blogs ; index as i">
        <div class="bg-white p-4 rounded shadow mt-3">
          <!-- author -->
          <div class="d-flex justify-content-between">
            <!-- avatar -->
            <div class="d-flex">
              <img
                [src]="blog.owner.images"
                alt="avatar"
                class="rounded-circle me-2"
                style="width: 38px; height: 38px; object-fit: cover"
              />
              <div>
                <p class="m-0 fw-bold">
                  {{ blog.owner.firstName }}{{ blog.owner.lastName }}
                </p>
                <span class="text-muted fs-7">{{
                  blog.createdAt | date : "M/d/yy, h:mm a"
                }}</span>
              </div>
            </div>
            <!-- edit -->
            <i
              class="fas fa-ellipsis-h"
              type="button"
              id="post1Menu"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            ></i>
            <!-- edit menu -->
            <ul
              class="dropdown-menu border-0 shadow"
              aria-labelledby="post1Menu"
            >
              <li class="d-flex align-items-center">
                <a (click)="showMaximizableDialog1(); getData(blog.title,blog.description,blog.images, blog._id)"
                  class="dropdown-item d-flex justify-content-around align-items-center fs-7"

                >
                  Edit Post</a
                >
              </li>
              <li class="d-flex align-items-center">
                <a (click)="deleteBLog(blog._id,i)"
                  class="dropdown-item d-flex justify-content-around align-items-center fs-7"

                >
                  Delete Post</a
                >
              </li>
            </ul>
          </div>
          <!-- post content -->
          <div class="mt-3">
            <!-- content -->
            <div>
              <h2>{{blog.title}}</h2>
              <p [innerHTML]="sanitizer.bypassSecurityTrustHtml(blog.description)"></p>


              <p-galleria
                [value]="blog.images"
                [responsiveOptions]="responsiveOptions"
                [containerStyle]="{ 'max-width': '100%' }"
                [numVisible]="5"
                [circular]="true"
                [showItemNavigators]="true"
                [showThumbnails]="false"
              >
                <ng-template let-img pTemplate="item">
                  <img [src]="img" style="display: block ; width: 100%;" />
                </ng-template>
                <ng-template pTemplate="thumbnail" let-img>
                  <div class="grid grid-nogutter justify-content-center">
                    <img [src]="img" style="display: block ; width: 100%;" />
                  </div>
                </ng-template>
              </p-galleria>

              <!-- likes & comments -->
              <div class="post__comment mt-3 position-relative">
                <!-- likes -->
                <div
                  class="d-flex align-items-center top-0 start-0 position-absolute"
                  style="height: 50px; z-index: 5"
                >
                  <div class="me-2">
                    <i class="text-primary fas fa-thumbs-up"></i>
                    <i class="text-danger fab fa-gratipay"></i>
                    <i class="text-warning fas fa-grin-squint"></i>
                  </div>
                  <p class="m-0 text-muted fs-7">Phu, Tuan, and 3 others</p>
                </div>
                <!-- comments start-->
                <div class="accordion" id="accordionExample">
                  <div class="accordion-item border-0">
                    <!-- comment collapse -->
                    <h2 class="accordion-header" id="headingTwo">
                      <div
                        class="accordion-button collapsed pointer d-flex justify-content-end"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapsePost1"
                        aria-expanded="false"
                        aria-controls="collapsePost1"
                      >
                        <p class="m-0">2 Comments</p>
                      </div>
                    </h2>
                    <hr />
                    <!-- comment & like bar -->
                    <div class="d-flex justify-content-around">
                      <div
                        class="dropdown-item rounded d-flex justify-content-center align-items-center pointer text-muted p-1"
                      >
                        <i class="fas fa-thumbs-up me-3"></i>
                        <p class="m-0">Like</p>
                      </div>
                      <div
                        class="dropdown-item rounded d-flex justify-content-center align-items-center pointer text-muted p-1"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapsePost1"
                        aria-expanded="false"
                        aria-controls="collapsePost1"
                      >
                        <i class="fas fa-comment-alt me-3"></i>
                        <p class="m-0">Comment</p>
                      </div>
                    </div>
                    <!-- comment expand -->
                    <div
                      id="collapsePost1"
                      class="accordion-collapse collapse"
                      aria-labelledby="headingTwo"
                      data-bs-parent="#accordionExample"
                    >
                      <hr />
                      <div class="accordion-body">
                        <!-- comment 1 -->
                        <div class="d-flex align-items-center my-1">
                          <!-- avatar -->
                          <img
                            src="https://source.unsplash.com/collection/happy-people"
                            alt="avatar"
                            class="rounded-circle me-2"
                            style="width: 38px; height: 38px; object-fit: cover"
                          />
                          <!-- comment text -->
                          <div class="p-3 rounded comment__input w-100">
                            <!-- comment menu of author -->
                            <div class="d-flex justify-content-end">
                              <!-- icon -->
                              <i
                                class="fas fa-ellipsis-h text-blue pointer"
                                id="post1CommentMenuButton"
                                data-bs-toggle="dropdown"
                                aria-expanded="false"
                              ></i>
                              <!-- menu -->
                              <ul
                                class="dropdown-menu border-0 shadow"
                                aria-labelledby="post1CommentMenuButton"
                              >
                                <li class="d-flex align-items-center">
                                  <a
                                    class="dropdown-item d-flex justify-content-around align-items-center fs-7"
                                    href="#"
                                  >
                                    Edit Comment</a
                                  >
                                </li>
                                <li class="d-flex align-items-center">
                                  <a
                                    class="dropdown-item d-flex justify-content-around align-items-center fs-7"
                                    href="#"
                                  >
                                    Delete Comment</a
                                  >
                                </li>
                              </ul>
                            </div>
                            <p class="fw-bold m-0">John</p>
                            <p class="m-0 fs-7 bg-gray p-2 rounded">
                              Lorem ipsum dolor sit amet, consectetur adipiscing
                              elit.
                            </p>
                          </div>
                        </div>
                        <!-- comment 2 -->
                        <div class="d-flex align-items-center my-1">
                          <!-- avatar -->
                          <img
                            src="https://source.unsplash.com/random/2"
                            alt="avatar"
                            class="rounded-circle me-2"
                            style="width: 38px; height: 38px; object-fit: cover"
                          />
                          <!-- comment text -->
                          <div class="p-3 rounded comment__input w-100">
                            <p class="fw-bold m-0">Jerry</p>
                            <p class="m-0 fs-7 bg-gray p-2 rounded">
                              Lorem ipsum dolor sit amet, consectetur adipiscing
                              elit.
                            </p>
                          </div>
                        </div>
                        <!-- create comment -->
                        <form class="d-flex my-1">
                          <!-- avatar -->
                          <div>
                            <img
                              src="https://source.unsplash.com/collection/happy-people"
                              alt="avatar"
                              class="rounded-circle me-2"
                              style="
                                width: 38px;
                                height: 38px;
                                object-fit: cover;
                              "
                            />
                          </div>
                          <!-- input -->
                          <input
                            type="text"
                            class="form-control border-0 rounded-pill bg-gray"
                            placeholder="Write a comment"
                          />
                        </form>
                        <!-- end -->
                      </div>
                    </div>
                  </div>
                </div>
                <!-- end -->
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

  <p-dialog
    class="myMax-dialog"
    header="Article"
    [(visible)]="displayMaximizable1"
    [modal]="true"
    [style]="{ width: '50vw' }"
    [maximizable]="true"
    [draggable]="true"
    [resizable]="true"
  >
    <form [formGroup]="blogForm" (ngSubmit)="onSubmit()">
      <p id="article-thoughts">
        Share your thoughts, ideas, and experiences with the world. Be sure to
        read our <a href="#">Community Guidelines</a> before posting.
      </p>
      <span
        class="p-float-label custom-input"
        style="margin: 20px 20px; margin-left: 0"
      >
        <input
          id="float-input"
          type="text"
          pInputText
          formControlName="title"
        />
        <label for="float-input">Title</label>
      </span>

<div class="container position-relative">
  <label for="file-upload" class="custom-file-upload">Select Images</label>
  <input
    type="file"
    name="images"
    id="file-upload"
    [multiple]="true"
    (change)="selectMultipleImage($event)"
    style="display: none"
  />

  <div id="selected-files-list">
    <span id="selected-files-msg">Selected Images:</span>
    <span id="selected-files-count">{{targetCount || 0}}</span>
  </div>
</div>


      <p-editor
        formControlName="description"
        [style]="{ height: '480px' }"
        rejectButtonStyleClass="p-button-text"
      ></p-editor>
    </form>

    <ng-template pTemplate="footer">
      <p-button
        (click)="confirm4(); displayMaximizable1 = false"
        icon="pi pi-times"
        label="Cancel"
      ></p-button>
      <p-button
        (click)="confirm3(); displayMaximizable1 = false"
        icon="pi pi-check"
        label="Create"
        styleClass="mr-2"
      ></p-button>
    </ng-template>
  </p-dialog>

<p-dialog
    class="myMax-dialog"
    header="Article"
    [(visible)]="displayMaximizable2"
    [modal]="true"
    [style]="{ width: '50vw' }"
    [maximizable]="true"
    [draggable]="true"
    [resizable]="true"
  >
    <form [formGroup]="updateBlogForm" (ngSubmit)="onSubmitEdit()">
      <p id="article-thoughts">
        Share your thoughts, ideas, and experiences with the world. Be sure to
        read our <a href="#">Community Guidelines</a> before posting.
      </p>
      <span
        class="p-float-label custom-input"
        style="margin: 20px 20px; margin-left: 0"
      >
        <input
          id="float-input"
          type="text"
          pInputText
          formControlName="title"
        />
        <label for="float-input">Title</label>
      </span>

<div class="container position-relative">
  <label for="file-upload" class="custom-file-upload">Select Images</label>
  <input
    type="file"
    name="images"
    id="file-upload"
    [multiple]="true"
    (change)="selectMultipleImage($event)"
    style="display: none"
  />

  <div id="selected-files-list">
    <span id="selected-files-msg">Selected Images:</span>
    <span id="selected-files-count">{{targetCount || 0}}</span>
  </div>
</div>

      <p-editor
        formControlName="description"
        [style]="{ height: '480px' }"
        rejectButtonStyleClass="p-button-text"
      ></p-editor>
    </form>

    <ng-template pTemplate="footer">
      <p-button
        (click)="confirm2(); displayMaximizable2 = false"
        icon="pi pi-times"
        label="Cancel"
      ></p-button>
      <p-button
        (click)="confirm1(); displayMaximizable2 = false"
        icon="pi pi-check"
        label="Update"
        styleClass="mr-2"
      ></p-button>
    </ng-template>
  </p-dialog>
</div>
