<div id="wrapper">
  <div class="no-bottom no-top" id="content">
    <div class="header-section" style="margin-bottom: 0;">
      <div class="container">
        <div class="row align-items-center" style="background-size: cover;">
          <div class="col-md-6" style="background-size: cover;">
            <div class="spacer-single" style="background-size: cover;"></div>
            <h6 class="wow fadeInUp animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;"><span class="text-uppercase id-color-2">ReSupply</span></h6>
            <div class="spacer-10" style="background-size: cover;"></div>
            <h1 class="wow fadeInUp animated" data-wow-delay=".75s" style="visibility: visible; animation-delay: 0.75s; animation-name: fadeInUp;">Sharing knowledge</h1>
            <p class="wow fadeInUp lead animated" data-wow-delay="1s" style="visibility: visible; animation-delay: 1s; animation-name: fadeInUp;">
              Sharing knowledge is essential for personal and professional growth, and it also contributes to the betterment of society. <br> It enables individuals to learn from each other and create new ideas that can drive innovation and progress.</p>
            <div class="spacer-10" style="background-size: cover;"></div>
            <div class="mb-sm-30" style="background-size: cover;"></div>
          </div>
          <div class="col-md-6 xs-hide" style="background-size: cover;">
            <img src="../../../../assets/client/images/room.jpg" class="lazy img-fluid wow fadeIn animated" data-wow-delay="1.25s" alt="" style="visibility: visible; animation-delay: 1.25s; animation-name: fadeIn; border-radius: 10px; border: 1px solid #ccc;">
          </div>
        </div>
        <hr>
      </div>
    </div>
    <!-- section close -->
    <!-- section begin -->
    <section aria-label="section">
      <div class="container">
        <div class="row wow fadeIn">
          <div class="col-lg-12">
            <div class="items_filter">
              <form action="https://gigaland.io/blank.php" class="row form-dark" id="form_quick_search" method="post" name="form_quick_search">
                <div class="col text-center">
                  <input class="form-control" id="name_1" name="name_1" placeholder="search item here..."  [(ngModel)]="searchTerm"type="text" /> <a href="#" id="btn-submit"><i class="fa fa-search bg-color-secondary"></i></a>
                  <div class="clearfix"></div>
                </div>
              </form>
              <a class="btn-main btn-lg btn-light" (click)="openModal()">Add resource</a> &nbsp;
              <div class="modal" [ngStyle]="{ 'display': showModal ? 'block' : 'none' }">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title">Add Resource</h4>
                      <button type="button" class="close" aria-label="Close" (click)="closeModal()">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <!-- Add your form here -->
                      <form [formGroup]="addRessourceForm" (ngSubmit)="onSubmit()">
                        <div class="field-set">
                          <div class="spacer-20"></div>
                          <h5>Title</h5>
                          <div>
                            <input
                              type="text"
                              formControlName="title"
                              class="form-control"
                              placeholder="e.g. 'Crypto Funk'"
                              id="name"
                              [ngModel]="title.value"
                              [ngClass]="{
                        'input-invalid':
                          title.invalid &&
                          (title.dirty || title.touched),
                        'input-valid':
                          title.valid && (title.dirty || title.touched)
                      }"

                            />
                            <div
                              class="message-invalid"
                              *ngIf="title.touched && title.hasError('required')"
                            >
                              Product name is required!
                            </div>
                            <div
                              class="message-invalid"
                              *ngIf="
                        title.touched && title.hasError('invalidData')
                      "
                            >
                              Product name must contains only letters!
                            </div>
                            <!--success message-->
                            <div
                              class="message-valid"
                              *ngIf="title.touched && !title.errors"
                            >
                              Valid!
                            </div>
                          </div>
                          <div class="spacer-20"></div>

                          <h5>Description</h5>
                          <div>
              <textarea
                data-autoresize
                formControlName="description"
                class="form-control"
                placeholder="e.g. 'This is very limited item'"
                id="description"
                [ngClass]="{
                        'input-invalid':
                          description.invalid &&
                          (description.dirty || description.touched),
                        'input-valid':
                          description.valid && (description.dirty || description.touched)
                      }"
              ></textarea>
                            <div
                              class="message-invalid"
                              *ngIf="description.touched && description.hasError('required')"
                            >
                              Description of the product is required!
                            </div>
                            <!--success message-->
                            <div
                              class="message-valid"
                              *ngIf="description.touched && !description.errors"
                            >
                              Valid!
                            </div>
                          </div>
                          <div class="spacer-20"></div>



                          <h5>Upload image</h5>

                          <div class="col-md-6" style="background-size: cover">
                            <div class="field-set" style="background-size: cover">
                              <input type="file"
                                     name="images"
                                     id="images"
                                     class="form-control"
                                     (change)="onImageSelected($event)"
                                     formControlName="image"
                              />
                              <div
                                class="message-invalid"
                                *ngIf="image.dirty && image.hasError('required')"
                              >
                                Image is required!
                              </div>
                              <!--success message-->
                              <div
                                class="message-valid"
                                *ngIf="image.touched && !image.errors"
                              >
                                Valid!
                              </div>
                            </div>
                          </div>
                          <div class="spacer-20"></div>

                          <h5>Upload Files</h5>
                          <div class="col-md-6" style="background-size: cover">
                            <div class="field-set" style="background-size: cover">
                              <input type="file" name="files" id="files" class="form-control" (change)="onFilesSelected($event)" formControlName="files" multiple />
                              <div
                                class="message-invalid"
                                *ngIf="addRessourceForm.get('files').dirty && addRessourceForm.get('files').hasError('required')"
                              >
                                Image is required!
                              </div>
                              <!--success message-->
                              <div
                                class="message-valid"
                                *ngIf="addRessourceForm.get('files').touched && !addRessourceForm.get('files').errors"
                              >
                                Valid!
                              </div>
                              <div *ngFor="let file of addRessourceForm.get('files').value">
                                <p>{{ file.name }}</p>
                              </div>
                            </div>
                          </div>

                          <div class="spacer-single"></div>
                          <div
                            id="submit"
                            class="pull-left"
                            style="background-size: cover"
                          >
                            <input
                              type="submit"
                              id="send_message"
                              value="Add Product"
                              class="btn btn-main color-2 ripple-surface"
                              [disabled]="addRessourceForm.invalid"
                            />
                            <input
                              type="button"
                              id="close"
                              value="Close"
                              class="btn btn-main color-2 ripple-surface"
                              (click)="closeModal()"
                            />
                          </div>
                          <div class="spacer-single"></div>
                        </div>
                      </form>
                    </div>

                  </div>
                </div>
              </div>
              <a [routerLink]="['/ListMeeting']" class="btn-main btn-lg btn-light">List Meeting</a>&nbsp;&nbsp;&nbsp;
              <a [routerLink]="['/ScheduleMeeting']" class="btn-main btn-lg btn-light">Schedule Meeting</a>
            </div>
          </div>
          <!-- nft item begin -->
          <div class=" col-lg-3 col-md-6 col-sm-6 col-xs-12" *ngFor="let res of Ressbject| FiltreByTitleRessource: searchTerm">
            <div class="nft__item">
              <div class="author_list_pp">
                <a href="author.html" data-bs-toggle="tooltip" data-bs-placement="top" title="Creator: ">
                  <img class="lazy" src="{{res.user.images}}" alt="">
                  <i class="fa fa-check"></i>
                </a>
              </div>
              <div class="nft__item_wrap">
                <a>
                  <div class="d-placeholder"></div>
                  <img src="{{res.image}}" class="nft__item_preview" alt="" >
                </a>
              </div>
              <div class="nft__item_info">
                <a href="item-details.html">
                  <h4>{{res.title}}</h4>
                </a>
                <div class="nft__item_price">
                  <p>{{res.description}}</p>
                </div>
                <div class="spacer-10"></div>
                <div class="nft__item_action d-flex justify-content-between">
                  <a [routerLink]="['/RessourceDetails',res._id]" class="btn-main ">More details</a>&nbsp;&nbsp;&nbsp;
                </div>
                <div class="spacer-10"></div>
                <div *ngIf="res.user._id ===userconnected.id ">
                  <div class="nft__item_action d-flex justify-content-between">
                    <a (click)="deleteRes(res)" class="btn-main  ">Delete</a>&nbsp;&nbsp;&nbsp;
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
