<header class="transparent header-light scroll-light clone smaller">
  <div class="container" style="background-size: cover;">
    <div class="row" style="background-size: cover;">
      <div class="col-md-12" style="background-size: cover;">
        <div class="de-flex sm-pt10" style="background-size: cover;">
          <div class="de-flex-col" style="background-size: cover;">
            <div class="de-flex-col" style="background-size: cover;">
              <!-- logo begin -->
              <div id="logo" style="background-size: cover;">
                <a [routerLink]="''">
                  <img alt="" class="logo-2" src="../../../../assets/client/images/logo.svg">
                </a>
              </div>
              <!-- logo close -->
            </div>
            <div class="de-flex-col" style="background-size: cover;">
              <input id="quick_search" class="xs-hide" name="quick_search" placeholder="search item here..." type="text">
            </div>
          </div>
          <div class="de-flex-col header-col-mid" style="background-size: cover;">
            <!-- mainmenu begin -->
            <ul id="mainmenu">
              <li *ngIf="authService.isLoggedIn() && authService.getConnectedUserData().role === 'admin'" class="menu-item">
                <a [routerLink]="'/dashboard'">Dashboard</a></li>
              <li class="menu-item"><a [routerLink]="'/products'">Products</a></li>
              <li class="menu-item"><a [routerLink]="'/donation'">Donations</a></li>
              <li class="menu-item"><a [routerLink]="'/community'">Community</a></li>
              <li class="menu-item"><a [routerLink]="'/knowledge'">Knowledge</a></li>

            </ul>
            <a *ngIf="!authService.isLoggedIn()" [routerLink]="'/signup'" class="btn-main"><i class="fa fa-plus"></i><span>Signup</span></a>
              <div [hidden]="!authService.isLoggedIn()" class="menu_side_area" style="background-size: cover;">

                <div class="de-login-menu" style="background-size: cover;">

                <span id="de-click-menu-notification" class="de-menu-notification" [routerLink]="'/wishlist'">
  <span class="d-count" *ngIf="wishlist && wishlist.length > 0">{{ wishlist.length }}</span>
  <i class="fa fa-heart"></i>
</span>


                  <span id="de-click-menu-profile" class="de-menu-profile">

                                            <img src="./assets/client/images/settings.png"  alt="">

                                        </span>



                  <div id="de-submenu-profile" class="de-submenu" style="display: none; background-size: cover;">
                    <ul class="de-submenu-profile">
                      <li><a [routerLink]="'/profile'"><i class="fa fa-user"></i> My profile</a></li>
                      <li><a [routerLink]="'/editProfile'"><i class="fa fa-pencil"></i> Edit profile</a></li>
                      <li><a href="#" (click)="authService.logout()"><i class="fa fa-sign-out"></i> Sign out</a></li>
                    </ul>
                  </div>

                  <span id="menu-btn"></span>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
