<div class="container">
  <h1>Add Request</h1>
  <form [formGroup]="requestForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="type">Type</label>
      <select  id="type" formControlName="type" class="form-control" #select>
        <option value="Item">Item</option>
        <option value="Currency">Currency</option>
      </select>

    </div>
    <div class="form-group" *ngIf="select.value==='Currency'">
      <label for="targetValue">Target Value</label>
      <input type="number" id="targetValue" formControlName="targetValue" class="form-control">
    </div>
    <div class="form-group">
      <label for="notes">Notes</label>
      <textarea id="notes" formControlName="notes" class="form-control"></textarea>
    </div>
    <div class="form-group">
      <label for="requestImage">Request Image</label>
      <input type="file"
             id="requestImage"
             formControlName="requestImage"
             class="form-control"
             (change)="onImageSelected($event)" >
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="requestForm.invalid">Submit</button>
  </form>
</div>


