/* You can add global styles to this file, and also import other style files */
.message-invalid {
  display: block;
  max-width: 100%;
  padding: 0.25rem 0.5rem;
  margin-top: 0.1rem;
  font-size: 0.875rem;
  color: #fff;
  background-color: rgba(220, 53, 69, 0.9);
  border-radius: 0.25rem;
}

.message-valid {
  display: block;
  max-width: 100%;
  padding: 0.25rem 0.5rem;
  margin-top: 0.1rem;
  font-size: 0.875rem;
  color: #fff;
  background-color: rgba(25, 135, 84, 0.9);
  border-radius: 0.25rem;
}

.input-invalid {
  border-color: #dc3545;
  border-width: 3px;
  padding-right: calc(1.5em + 0.75rem);
  background-image: url("data:image/svg + xml, %3csvgxmlns='http://www.w3.org/2000/svg'viewBox='0 0 12 12'width='12'height='12'fill='none'stroke='%23dc3545'%3e%3ccirclecx='6'cy='6'r='4.5'/%3e%3cpathstroke-linejoin='round'd='M5.8 3.6h.4L6 6.5z'/%3e%3ccirclecx='6'cy='8.2'r='.6'fill='%23dc3545'stroke='none'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.input-valid {
  border-color: #198754;
  border-width: 3px;
  padding-right: calc(1.5em + 0.75rem);
  background-image: url("data:image/svg + xml, %3csvgxmlns='http://www.w3.org/2000/svg'viewBox='0088'%3e%3cpathfill='%23198754'd='M2.36.73L.64.53c-0.4-1.04.46-1.41.1-0.8l1.11.43.4-3.8c.6-0.631.6-0.271.2.7l-44.6c-0.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.action-wrapper{
  width: 30px;
  height: 30px;
  display: inline-block;
  background-color: rgba(var(--secondary-color-rgb), 0.1);
  text-align: center;
  line-height: 33px;
  border-radius: 50%;
  margin: 0 10px;
  cursor: pointer;
}

.action-wrapper:hover{
  background-color: rgba(212, 193, 236, 1);
  color: #000000;
}

.sr-wrapper{
  padding: 4px 7px;
  border-radius: 10px;
}

.image-wrapper {
  position: relative;
  display: inline-block;
}

.image-wrapper:hover img {
  transform: scale(3);
}

.image-wrapper img {
  transition: transform 0.2s;
  max-width: 100%;
  height: auto;
}
