<div id="wrapper">
<div class="no-bottom no-top" id="content">
<!-- section begin -->
  <section aria-label="section">
    <div class="container">
      <div class="row wow fadeIn">
        <div class="col-lg-12">

          <div class="items_filter">
            <form action="https://gigaland.io/blank.php" class="row form-dark" id="form_quick_search" method="post" name="form_quick_search">
              <div class="col text-center">
                <input class="form-control" id="name_1" name="name_1" placeholder="search item here..." type="text" /> <a href="#" id="btn-submit"><i class="fa fa-search bg-color-secondary"></i></a>
                <div class="clearfix"></div>
              </div>
            </form>

            <div id="item_category" class="dropdown">
              <a href="#" class="btn-selector">All categories</a>
              <ul>
                <li class="active"><span>All categories</span></li>
                <li><span>Art</span></li>
                <li><span>Music</span></li>
                <li><span>Domain Names</span></li>
                <li><span>Virtual World</span></li>
                <li><span>Trading Cards</span></li>
                <li><span>Collectibles</span></li>
                <li><span>Sports</span></li>
                <li><span>Utility</span></li>
              </ul>
            </div>
            <a [routerLink]="['/addProduct']" class="btn-main btn-lg btn-light" data-bs-toggle="modal" data-bs-target="#place_a_bid">
              Add Product
            </a>
          </div>

        </div>
        <!-- nft item begin -->
        <div class=" col-lg-3 col-md-6 col-sm-6 col-xs-12" *ngFor="let product of products">
          <div class="nft__item">
            <div class="author_list_pp">
              <a href="author.html" data-bs-toggle="tooltip" data-bs-placement="top" title="Creator: {{ product.owner.lastName }} {{ product.owner.firstName }}">
                <img class="lazy" src="{{ product.owner.images[0] }}" alt="">
                <i class="fa fa-check"></i>
              </a>
            </div>
            <div class="nft__item_wrap">
              <a href="item-details.html">
                <div class="d-placeholder"></div>
                <img src="{{ product.images[0] }}" class="nft__item_preview" alt="">
              </a>
            </div>
            <div class="nft__item_info">
              <a href="item-details.html">
                <h4>{{product.name}}</h4>
              </a>

              <div class="nft__item_price">
                {{product.price}} $
              </div>
              <div class="nft__item_action">
                <a href="#">Add to cart</a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </section>
</div>
</div>
